<!DOCTYPE html>
<html lang="en">
<head>
    <?xml version="1.0" encoding="utf-8"?>
    <meta charset="utf-8">
    <title>NV3</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link href="{{ app.request.basepath }}/templates/site/{{ settings.getPublicTheme }}/assets/styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ app.request.basepath }}/templates/site/{{ settings.getPublicTheme }}/assets/styles/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KGCDLF"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KGCDLF');</script>
<!-- End Google Tag Manager -->
    <div class="container-full">
        {% block content %}{% endblock %}
        <div class="page page01 footer">
            <div class="container">
                <div class="wrapper">
                    <p class="kreon">nv3 2014 | All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ app.request.basepath }}/assets/build/jquery.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/assets/build/scripts.js"></script>
</body>
</html>
