<div class="modal-header clear">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Resample Media Library</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-7 col-sm-4 col-sm-offset-1">
            <div class="block-icon"><i class="fa fa-3x fa-refresh"></i></div>
            <p class="small text-center">This will resample all items in your library according to currently active media settings. This process runs in the background and may take some time to complete.</p>
            <div class="block-icon">
                <a href="#" class="btn btn-primary btn-block">Resample library now</a>
            </div>
        </div>

        <div class="col-sm-offset-1 col-xs-5 col-sm-5">
            <p class="text-center small">Active media settings</p>
            <table class="table table-condensed small">
                <tr>
                    <td class="col-xs-2">Small</td>
                    <td>
                        {{ settings.getImageResizeDimensions.small|join(' x ') }} px
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-2">Medium</td>
                    <td>
                        {{ settings.getImageResizeDimensions.medium|join(' x ') }} px
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-2">Large</td>
                    <td>
                        {{ settings.getImageResizeDimensions.large|join(' x ') }} px
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        {% if settings.getImageAutoCrop %}
                            Use auto-crop
                        {% else %}
                            Crop to {{ settings.getImageResizeDimensions.crop|join(' x ') }} px
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        Resampling quality is {{ settings.getImageResampleQuality }} / 100
                    </td>
                </tr>

                {% if settings.getWatermarkMedia%}
                <tr>
                    <td colspan="2">
                        Media will be watermarked.
                    </td>
                </tr>
                {% endif %}

                <tr>
                    <td colspan="2">
                        {% if settings.getImageKeepOriginal %}
                            Save original files
                        {% else %}
                            Remove original files after upload
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        {% if settings.getImageStripMeta %}
                            Strip metadata before processing
                        {% else %}
                            Leave metadata in processed images
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-cancel btn-default" data-dismiss="modal">Close</button>
</div>