<table class="table table-condensed table-vertical small">
    <tr class="first">
        <td class="big qdr">
            <div>
            {% if post.getPublished %}
                <i class="fa fa-eye fa-2x on"></i>
            {% else %}
                <i class="fa fa-eye-slash fa-2x off"></i>
            {% endif %}
            </div>
            <div>
            {% if post.getExposed%}
                <i class="fa fa-star fa-2x on"></i>
            {% else %}
                <i class="fa fa-star-o fa-2x off"></i>
            {% endif %}
            </div>
            <div>
                {% if post.getAllowRatings %}
                    <i class="fa fa-thumbs-up fa-star fa-2x on"></i>
                {% else %}
                    <i class="fa fa-thumbs-o-up fa-2x off"></i>
                {% endif %}
            </div>
            <div>
                {% if post.getAllowComments %}
                    <i class="fa fa-comments fa-2x on"></i>
                {% else %}
                    <i class="fa fa-comments-o fa-2x off"></i>
                {% endif %}
            </div>
        </td>
    </tr>

    <tr>
        <td class="big dbl">
            <div class="icon-2p">
                <i class="fa fa-2x fa-link"></i>
                <span>{{ post.getSlug }}</span>
            </div>
            <div class="icon-2p">
                {% if post.getMediaItems.count > 0 %}
                    <i class="fa fa-2x fa-image on"></i>
                {% else %}
                    <i class="fa fa-2x fa-image off"></i>
                {% endif %}
                <span>{{ post.getMediaItems.count }} media items attached</span>
            </div>
        </td>
    </tr>

    <tr>
        <td class="big dbl">
            <div class="icon-2p">
                <i class="fa fa-calendar-o fa-2x"></i>
                <span>{{ post.getCreatedAt|date('M d h:i') }}</span>
                {% if post.getAuthor %}
                    <span><i class="fa fa-user"></i> {{ post.getAuthor.displayName }}</span>
                {% else %}
                    <span class="header"><i class="fa fa-user"></i> n\a</span>
                {% endif %}
            </div>
            <div class="icon-2p">
                <i class="fa fa-calendar-o fa-2x"></i>
                <span>{{ post.getUpdatedAt|date('M d h:i') }}</span>
                {% if post.getEditor %}
                    <span class="header"><i class="fa fa-user"></i> {{ post.getEditor.displayName }}</span>
                {% else %}
                    <span class="header"><i class="fa fa-user"></i> n\a</span>
                {% endif %}
            </div>
        </td>
    </tr>

    <tr class="title-col">
        <td>
            User Defined Tags
        </td>
    </tr>
    <tr>
        <td class="text-center label-bag">
            {% if post.getTags.count > 0 %}
                {% for tag in post.getTags %}
                    <span class="label label-primary tag-label-xl"><i class="fa fa-tag"></i> {{ tag.getName }}</span>
                {% endfor %}
            {% else %}
                <div class="text-center">
                    <i class="fa fa-3x fa-tags block-icon"></i>
                    <p>This post is not tagged</p>
                </div>
            {% endif %}
        </td>
    </tr>

    <tr class="title-col">
        <td>
            Classification results
        </td>
    </tr>
    <tr>
        <td>
            {% if post.getMetadata %}
                {% if post.getMetadata.getData(1).c|length > 0 %}
                    <ul class="list-group list-group-clear">
                    {% for data in post.getMetadata.getData(1).c %}
                        {% if data.textCoverage > 0 %}
                            {% if data.classifier is defined %}
                            <li class="list-group-item">
                                <span class="">{{ data.classifier }}</span>
                                {% set max = max(data.classes) %}
                                {% for key, val in data.classes %}
                                    {% if val == max %}
                                        <div class="pull-right score label label-success">{{ val|round(2, 'floor') }}</div>
                                        <span class="nw pull-right">{{ key }}</span>
                                    {% endif %}
                                {% endfor %}
                            </li>
                            {% endif %}
                        {% else %}
                        <li class="list-group-item">
                            <span class="">{{ data.classifier }}</span>
                            <div class="pull-right score label label-success">Text coverage too low</div>
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% else %}
                    <div class="text-center">
                        <i class="fa fa-3x fa-cubes"></i>
                        <p>This post is not classified</p>
                    </div>
                {% endif %}
            {% else %}
                <div class="text-center">
                    <i class="fa fa-3x fa-cubes"></i>
                    <p>This post has no auto metadata</p>
                </div>
            {% endif %}
        </td>
    </tr>

    <tr class="title-col">
        <td>
            Annotation results
        </td>
    </tr>
    <tr>
        <td class="big">
            {% if post.getMetadata and post.getMetadata.getData(1).a is defined %}

                {% if post.getMetadata.getData(1).a|length > 0 %}
                    <div class="label-bag">
                    {% for dataKey, data in post.getMetadata.getData(1).a %}
                        {% if dataKey == 'doc' %}
                            
                        {% endif %}

                        {% if dataKey != 'doc' %}

                            {% if data._typeGroup == 'socialTag' %}
                                <a class="label label-warning tag-label-xl" href="{{ dataKey }}"><i class="fa fa-tag"></i> {{ data.name }} <span>{{ data.importance }}</span></a>
                            {% elseif data._typeGroup == 'entities' %}
                                <a class="label label-success tag-label-xl" href="{{ data._typeReference }}"><i class="fa fa-cube"></i> {{ data._type }} [{{ data.name }}] <span>{{ data.relevance|round(2, 'floor') }}</span></a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>

                {% else %}
                    <div class="text-center">
                        <i class="fa fa-3x fa-cubes"></i>
                        <p>This post is not annotated</p>
                    </div>
                {% endif %}
            {% else %}
                <div class="text-center">
                    <i class="fa fa-3x fa-cubes"></i>
                    <p>This post has no auto metadata</p>
                </div>
            {% endif %}


        </td>
    </tr>
</table>