{% for post in posts %}
    <div class="panel panel-default border-less removable">
        <div class="panel-heading clearfix">
            <div class="title">
                <p class="small">{{ post.getCreatedAt|date }} by {{ post.getAuthor.displayName }}</p>
                <h3 class="panel-title"><a href="{{ app.url_generator.generate('admin/post/view', {post:post.getId}) }}">{{ post.getTitle|upper }}</a></h3>
            </div>
            <div class="pull-right">
                <div class="btn-group btn-group-sm">
                    {% if post.getPublished %}
                        <a href="{{  app.url_generator.generate('admin/post/edit', {post:post.getId}) }}" class="btn btn-round btn-round-sm btn-invert tooltipped" data-toggle="tooltip" data-placement="bottom" title="Published">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    {% else %}
                        <a href="{{  app.url_generator.generate('admin/post/edit', {post:post.getId}) }}" class="btn btn-round btn-round-sm btn-invert tooltipped" data-toggle="tooltip" data-placement="bottom" title="Published">
                            <span class="glyphicon glyphicon-eye-close"></span>
                        </a>
                    {% endif %}

                    {% if post.getExposed %}
                        <a href="{{  app.url_generator.generate('admin/post/edit', {post:post.getId}) }}" class="btn btn-round btn-round-sm btn-invert tooltipped" data-toggle="tooltip" data-placement="bottom" title="Published">
                            <span class="glyphicon glyphicon-star"></span>
                        </a>
                    {% else %}
                        <a href="{{  app.url_generator.generate('admin/post/edit', {post:post.getId}) }}" class="btn btn-round btn-round-sm btn-invert tooltipped" data-toggle="tooltip" data-placement="bottom" title="Published">
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </a>
                    {% endif %}

                    {% if post.getMediaItems.count > 0 %}
                        <span class="label label-status tooltipped" data-toggle="tooltip" data-placement="bottom" title="Has {{ post.getMediaItems.count }} media item(s)."><span class="glyphicon glyphicon-picture"></span></span>
                    {% endif %}

                    {% if post.getTags.count > 0 %}
                        <span class="label label-status tooltipped" data-toggle="tooltip" data-placement="bottom" title="Has {{ post.getTags.count }} tag(s)."><span class="glyphicon glyphicon-tags"></span></span>
                    {% endif %}
                </div>
                <div class="btn-group btn-group-sm">
                    <a href="{{  app.url_generator.generate('admin/post/edit', {post:post.getId}) }}" class="btn btn-round btn-round-sm btn-invert tooltipped" data-toggle="tooltip" data-placement="bottom" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{{  app.url_generator.generate('admin/post/delete', {post:post.getId}) }}" class="btn btn-round btn-round-sm tooltipped btn-delete btn-cmd cmd-remove" data-toggle="tooltip" data-placement="bottom" title="Remove"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="body row">
                <div class="col-xs-10 col-md-8">
                    {% if post.getSubtitle|length > 20 %}
                        <p>{{ post.getSubtitle|slice(0,150) }}...</p>
                    {% else %}
                        <p>{{ post.getBody|striptags|slice(0,150) }}...</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}