{% extends app.request.isXmlHttpRequest ? "admin/default/masters/layout-tabs-panel.html.twig" : "admin/default2/views/settings.html.twig" %}

{% block tabPaneHeader %}
<div class="controls-group">
    <div class="left-controls">
        <h4>General configuration</h4>
    </div>
</div>
{% endblock %}

{% block tabPaneContent %}
<div class="accordion">
    {{ form_start(form) }}
    <div class="accordion-header">
        <label>Site Name & Description</label>
        <span>{{ settings.getSiteName }}</span>
        <a href="#"><i class="fa fa-pencil"></i> Edit</a>
    </div>
    <div class="accordion-body">
        <div class="ab-content">
            <p class="form-helper">
                Site name defines a common name for your project and is used extensively in public templates.
            </p>
            <div class="form-group field field-small">
                {{ form_label(form.siteName) }}
                {{ form_widget(form.siteName) }}
                {{ form_errors(form.siteName) }}
            </div>
            <div class="form-group field field-small">
                {{ form_label(form.siteDescription) }}
                {{ form_widget(form.siteDescription) }}
                {{ form_errors(form.siteDescription) }}
            </div>
        </div>
    </div>

    <div class="accordion-header">
        {{ form_label(form.keywords) }}
        <span>{{ settings.getKeywords}}</span>
        <a href="#"><i class="fa fa-pencil"></i> Edit</a>
    </div>
    <div class="accordion-body">
        <div class="ab-content">
            <p class="form-helper">
                Keywords are used for content categorization. Enter the words that best match the content of the post, each keyword separated by comma.
            </p>
            <div class="form-group field field-small append-icon">
                {{ form_label(form.keywords) }}
            </div>
            <div class="form-group field field-small append-icon">
                {{ form_widget(form.keywords) }}
                <div class="field-addon"><i class="fa fa-tag"></i></div>
                {{ form_errors(form.keywords) }}
            </div>
        </div>
    </div>

    <div class="accordion-header">
        <label>Administrative</label>
        <span>{{ settings.getSiteOwner }}</span>
        <a href="#"><i class="fa fa-pencil"></i> Edit</a>
    </div>
    <div class="accordion-body">
        <div class="ab-content">
            <p class="form-helper">Information about your site's administrative contact. This email address is also used for system-level messages and in-app user support requests.</p>
            <div class="form-group field field-small">
                {{ form_label(form.siteOwner) }}
                {{ form_widget(form.siteOwner) }}
                {{ form_errors(form.siteOwner) }}
            </div>
            <div class="form-group field field-small">
                {{ form_label(form.adminEmail) }}
                {{ form_widget(form.adminEmail) }}
                {{ form_errors(form.adminEmail) }}
            </div>

            <br>
            <p class="form-helper">You can upload your organization's logo image to show instead of the Simplex logo.</p>
            {% if settings.getSiteLogo %}
                <div class="single-item-box select-image">
                    <div class="select-overlay">Choose file</div>
                    <img src="{{ app.request.getBasePath() ~ '/uploads/crops/' ~ settings.getSiteLogo }}" width="80" />
                </div>
            {% endif %}
            <div class="site-logo-file">
                {{ form_label(form.siteLogo) }}
                {{ form_widget(form.siteLogo) }}
                {{ form_errors(form.siteLogo) }}
            </div>
            <div class="select-file select-site-logo">Choose file</div>
        </div>
    </div>

    <div class="accordion-header">
        {{ form_label(form.language) }}
        <span>{{ settings.getLanguage}}</span>
        <a href="#"><i class="fa fa-pencil"></i> Edit</a>
    </div>
    <div class="accordion-body">
        <div class="ab-content">
            <p>Default site language.</p>
            <div class="form-group field field-small">
                {{ form_label(form.language) }}
                {{ form_widget(form.language) }}
                {{ form_errors(form.language) }}
            </div>

        </div>
    </div>

    <div class="accordion-header">
        <label>Options</label>
        <span>icons</span>
        <a href="#"><i class="fa fa-pencil"></i> Edit</a>
    </div>
    <div class="accordion-body">
        <div class="ab-content">
            <p>This will enable public access to your published items directly, independent of Pages.</p>
            <div class="form-group field field-small option">
                {{ form_row(form.enableQueryStringAccess) }}
            </div>
            <p>Annotations bring in-depth classification and enrichment capabilities to your text content. You can enable this feature globally here.</p>
            <div class="form-group field field-small option">
                {{ form_row(form.enableAnnotations) }}
            </div>
            <p>Put your site online or offline.</p>
            <div class="form-group field field-small option">
                {{ form_row(form.live) }}
            </div>
            <p>This will allow your public template to implement a user registration form. Registered users are assigned the user role, and don't get access to the administration panel.</p>
            <div class="form-group field field-small option">
                {{ form_row(form.allowPublicUserRegistration) }}
            </div>
        </div>
    </div>

    <div class="form-action">
        {{ form_row(form.save) }}
        {{ form_row(form.cancel) }}
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}
