<!DOCTYPE html>
<html>
<head>
    <?xml version="1.0" encoding="utf-8"?>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ settings.getSiteDescription }}">
    <meta name="author" content="{{ settings.getSiteOwner }}">
    <meta name="keywords" content="{{ settings.getKeywords}}">

    <title>{{ settings.getSiteName }}</title>

    <script type="text/javascript" src="{{ app.request.basepath }}/templates/site/{{ settings.getPublicTheme }}/assets/scripts/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/templates/site/{{ settings.getPublicTheme }}/assets/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/templates/site/{{ settings.getPublicTheme }}/assets/scripts/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/templates/site/{{ settings.getPublicTheme }}/assets/scripts/scripts.js"></script>

    <link href="{{ app.request.basepath }}/templates/site/{{ settings.getPublicTheme }}/assets/fonts/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="{{ app.request.basepath }}/templates/site/{{ settings.getPublicTheme }}/assets/styles/reset.css" rel="stylesheet" type="text/css" />
    <link href="{{ app.request.basepath }}/templates/site/{{ settings.getPublicTheme }}/assets/styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ app.request.basepath }}/templates/site/{{ settings.getPublicTheme }}/assets/styles/jquery.bxslider.css" rel="stylesheet" type="text/css" />
    <link href="{{ app.request.basepath }}/templates/site/{{ settings.getPublicTheme }}/assets/styles/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="newsletter-overlay"></div>

<nav class="main-nav">
    <div class="container">
        <ul>
            <li class="logo">
                <a href="{{ app.request.baseUrl }}"><img src="{{ app.request.basePath }}/templates/site/{{ settings.getPublicTheme }}/assets/images/sig_white.png" alt="Strackovski Logo"/></a>
            </li>

            {% for page in menu %}
            <li>
                <a href="{{ app.request.baseUrl ~ '/' ~ page.getSlug }}">{{ page.getTitle }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
<div class="content">
    <div class="">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<footer class="footer">
    <div class="newsletter-popup">
        <h5 class="text-uppercase text-center">Sign up for newsletter</h5>
        <p>You are welcome to subscribe to my newsletter.</p>
        <br>
        <form class="form-inline text-center" role="form" action="subscribe.php">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <button type="submit" class=" btn btn-submit">Submit</button>
        </form>
    </div>
    <div class="ft-inner clearfix container">
        <div class="row">
            <div class="col-xs-5">
                <ul class="inline">
                    <li><a href="{{ app.request.baseUrl }}">First page</a></li>
                    <li><a href="{{ app.request.baseUrl }}/contact">Contact</a></li>
                </ul>
                <ul class="inline">
                {% for page in menu %}
                    {% if page.getSlug != 'contact' %}
                    <li>
                        <a href="{{ app.request.baseUrl ~ '/' ~ page.getSlug }}">{{ page.getTitle }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>


            </div>
            <div class="col-xs-2 text-center">
                <a class="newsletter" href="#" data-toggle="modal" data-target="#modal_id"><i class="fa fa-angle-up fa-2x"></i></a>
            </div>
            <div class="col-xs-5 last pull-right">
                <ul class="inline pull-right no-margin">
                    <li>&copy; Copyright {{ "now"|date("Y") }} {{ settings.getSiteOwner }}</li>
                    <li><a target="_blank" href="http://www.nv3.eu">NV3</a></li>
                </ul>
                <div class="inline bt-logo pull-right">
                    <img src="{{ app.request.basePath }}/templates/site/{{ settings.getPublicTheme }}/assets/images/ss-logo-stamp-w.png" alt="Strackovski Logo"/>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>