<div class="addQuery-form new-query-form">
    <div class="row">
        <div class="col-xs-12 data-group">
            <div class="form-group">
                <div class="col-sm-2 text-right">
                    {{ form_label(form.queries.vars.prototype.contentType) }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(form.queries.vars.prototype.contentType) }}
                </div>
                {{ form_errors(form.queries.vars.prototype.contentType) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 data-group">
            <div class="form-group">
                <div class="col-sm-2 text-right">
                    {{ form_label(form.queries.vars.prototype.column) }}
                </div>
                <div class="col-sm-10 field">
                    {{ form_widget(form.queries.vars.prototype.column) }}
                </div>
                {{ form_errors(form.queries.vars.prototype.column) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 data-group">
            <div class="form-group">
                <div class="col-sm-6 field text-right optional-instruction">
                    <p>Instrukciones.</p>
                </div>
                <div class="col-sm-6 col-xs-12 field">
                    {{ form_label(form.queries.vars.prototype.operator) }}
                    {{ form_widget(form.queries.vars.prototype.operator) }}
                    {{ form_errors(form.queries.vars.prototype.operator) }}
                </div>
            </div>
        </div>
        <div class="col-xs-8 data-group">
            <div class="form-group">
                <div class="col-sm-12 field form-element">
                    {{ form_label(form.queries.vars.prototype.value) }}
                    {{ form_widget(form.queries.vars.prototype.value) }}
                    {{ form_errors(form.queries.vars.prototype.value) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 data-group">
            <div class="form-group">
                <div class="col-sm-2 text-right">
                    {{ form_label(form.queries.vars.prototype.sortBy) }}
                </div>
                <div class="col-sm-3 field">
                    {{ form_widget(form.queries.vars.prototype.sortBy) }}
                </div>
                {{ form_errors(form.queries.vars.prototype.sortBy) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 data-group">
            <div class="form-group">
                <div class="col-sm-2 text-right">
                    {{ form_label(form.queries.vars.prototype.limitMax) }}
                </div>
                <div class="col-sm-3 field">
                    {{ form_widget(form.queries.vars.prototype.limitMax) }}
                </div>
                {{ form_errors(form.queries.vars.prototype.limitMax) }}
            </div>
        </div>
    </div>
</div>