<div class="right-bar-header">
    <div class="top-header">
        <div class="right-aux-toolbar">
            <a href="#" class="paper-btn close-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Close"><i class="fa fa-times"></i></a>
            <a href="{{  app.url_generator.generate('admin/form/delete', {form:user_form.getId}) }}" class="paper-btn delete-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i></a>
            <a href="{{ app.url_generator.generate('admin/form/edit', {form:user_form.getId}) }}" class="paper-btn edit-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-pencil"></i></a>
        </div>
    </div>

    <div class="bottom-header">
        <h4>{{ user_form.getTitle }}</h4>
    </div>
</div>

<div class="right-bar-content">
    <div class="content-section">
        <div class="section-title">
            Form attributes
        </div>

        <div class="section-entity">
            <p>{{ user_form.getAttributes }}</p>
        </div>
    </div>

    <div class="content-section">
        <div class="section-title">
            Fields in this form
        </div>
        <div class="section-entity small-entity">
            {% for field in user_form.getFields %}
                <div class="dt">
                    {{ field.getType }}
                </div>
                <div class="dd">
                    {{ field.getName }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="content-section">
        <div class="section-entity">
            <div class="dt">
                Created
            </div>
            <div class="dd">
                {{ user_form.getCreatedAt|date('M d h:i') }}
            </div>
        </div>
    </div>
</div>