<div class="right-bar-header">
    <div class="top-header">
        <div class="right-aux-toolbar">
            <a href="#" class="paper-btn close-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Close"><i class="fa fa-times"></i></a>
            <a href="{{ app.url_generator.generate('admin/media/delete', {id:item.getId}) }}" class="paper-btn delete-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i></a>
        </div>
    </div>
    <div class="bottom-header"><h4>{{ item.getTitle }}</h4></div>
</div>

<div class="right-bar-content">
    <div class="content-section clear-section">
        <img src="{{ app.request.basepath ~ '/uploads/' ~ item.getWebPath('medium') }}" alt=""/>
    </div>

    <div class="content-section">
        <div class="section-title">Author info</div>
        <div class="section-entity">
            <div class="dt">License</div>
            <div class="dd">
                {% if item.getLicense %}{{ item.getLicense }}{% else %}No information available{% endif %}
            </div>
        </div>
        <div class="section-entity">
            <div class="dt">Author</div>
            <div class="dd">
                {% if item.getAuthor %}
                    {{ item.getAuthor }}
                {% else %}
                    No information available
                {% endif %}
            </div>
        </div>
    </div>

    {% if item.getMetadata %}
        {% for metakey, metaval in item.getMetadata.getData %}
            {% if item.getType == 'image' and metakey == 'gps' %}
                <div class="content-section">
                    <div class="section-title">Location info</div>
                    <div class="section-entity">
                        <div class="dt">Latitude</div>
                        <div class="dd">{{ metaval.gps_latitude|join('.') ~ ' ' ~ metaval.gps_latitude_ref }}</div>
                    </div>

                    <div class="section-entity">
                        <div class="dt">Longitude</div>
                        <div class="dd">{{ metaval.gps_longitude|join('.') ~ ' ' ~ metaval.gps_longitude_ref }}</div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="content-section">
        <div class="section-title">Metadata</div>
        {% if item.getMetadata %}
            {% for metakey, metaval in item.getMetadata.getData %}
                {% if item.getType == 'image' and metaval != '@todo' and metakey != 'gps' %}
                    {% if metakey == 'time_originated' %}
                        <div class="section-entity">
                            <div class="dt">
                                Time originated
                            </div>
                            <div class="dd">
                                {{ metaval|date('M d, Y H:i') }}
                            </div>
                        </div>
                        <div class="section-entity">
                            <div class="dt">
                                Time uploaded
                            </div>
                            <div class="dd">
                                {{ item.getCreatedAt|date('M d, Y H:i') }}
                            </div>
                        </div>
                    {% else %}
                        <div class="section-entity">
                            <div class="dt">
                                {{ metakey|capitalize|replace('_', ' ') }}
                            </div>
                            <div class="dd">
                                {{ metaval }}
                            </div>
                        </div>
                    {% endif %}
                {% elseif item.getType == 'video' %}
                    {% if metakey != 'video_stream' and metakey != 'audio_stream' and metakey != 'audio' and metakey != 'video' and metakey != 'height' and metakey != 'gps' %}
                        {% if metakey == 'width' and metaval < 1280 %}
                            <div class="section-entity">
                                <div class="dt">
                                    Format
                                </div>
                                <div class="dd">
                                    Standard definition
                                </div>
                            </div>
                        {% elseif metakey == 'width' and metaval >= 1280 %}
                            <div class="section-entity">
                                <div class="dt">
                                    Format
                                </div>
                                <div class="dd">
                                    High definition
                                </div>
                            </div>
                        {% elseif metakey == 'size' or metakey == 'bit_rate' %}
                            <div class="section-entity">
                                <div class="dt">
                                    {{ metakey|capitalize|replace('_', ' ') }}
                                </div>
                                <div class="dd">
                                    {{ metaval.0|round(2, 'ceil') ~ ' ' ~ metaval.1 }}
                                </div>
                            </div>
                        {% elseif metakey == 'time_originated' %}
                            <div class="section-entity">
                                <div class="dt">
                                    Captured
                                </div>
                                <div class="dd">
                                    {{ metaval|date('M d, Y H:i') }}
                                </div>
                            </div>

                            <div class="section-entity">
                                <div class="dt">
                                    Uploaded
                                </div>
                                <div class="dd">
                                    {{ item.getCreatedAt|date('M d, Y') }}
                                </div>
                            </div>
                        {% else %}
                            <div class="section-entity">
                                <div class="dt">
                                    {{ metakey|capitalize|replace('_', ' ') }}
                                </div>
                                <div class="dd">
                                    {{ metaval|join(' ') }}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="content-section">
        <div class="section-title">Available variations</div>
        <div class="section-entity">
            {% if item.getType == 'image' %}
                <div class="dt">Sizes</div>
                <div class="dd">
                    {% for key, val in item.getVariations %}
                        <div class="label label-primary">{{ key }}</div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="dt">Encoded formats</div>
                <div class="dd">

                </div>
            {% endif %}
        </div>
    </div>
</div>