<div class="item-list list-ml item-list-7 post-list">
    <div class="item-wrap item-header item-fixed-header">
        <div class="item text-center"><div></div></div>
        <div class="item"><div>Title</div></div>
        <div class="item"><div>Label</div></div>
        <div class="item item-s"><div><i class="fa fa-image"></i></div></div>
        <div class="item item-s"><div><i class="fa fa-cube"></i></div></div>
        <div class="item item-s"><div><i class="fa fa-tags"></i></div></div>
        <div class="item"><div></div></div>
    </div>

    {% for post in posts %}
        <div class="item-wrap">
            <div class="item status-item text-center post-item">

                <div class="status-div">
                    {% if post.getPublished %}
                        <div data-action="{{ app.url_generator.generate('admin/post/toggle', {id:post.getId, status:'published'}) }}" class="status-icon toggle-icon" title="un-publish"><i class="fa fa-eye active tooltipped" data-toggle="tooltip" data-placement="bottom" title="Publish"></i></div>
                    {% else %}
                        <div data-action="{{ app.url_generator.generate('admin/post/toggle', {id:post.getId, status:'published'}) }}" class="status-icon toggle-icon" title="publish"><i class="fa fa-eye tooltipped" data-toggle="tooltip" data-placement="bottom" title="Publish"></i></div>
                    {% endif %}

                    {% if post.getExposed %}
                        <div data-action="{{ app.url_generator.generate('admin/post/toggle', {id:post.getId, status:'exposed'}) }}" class="status-icon toggle-icon" title="un-expose"><i class="fa fa-star active tooltipped"  data-toggle="tooltip" data-placement="bottom" title="Expose"></i></div>
                    {% else %}
                        <div data-action="{{ app.url_generator.generate('admin/post/toggle', {id:post.getId, status:'exposed'}) }}" class="status-icon toggle-icon" title="expose"><i class="fa fa-star tooltipped"  data-toggle="tooltip" data-placement="bottom" title="Expose"></i></div>
                    {% endif %}
                </div>
            </div>
            <div class="item ml">
                <div>
                    <a class="detail-btn" href="{{ app.url_generator.generate('admin/post/get', {post:post.getId}) }}">
                        {{ post.getTitle }}
                    </a>
                    <div class="small"><p>{% if post.getAuthor %} By {{ post.getAuthor }},{% endif %} {{ post.getCreatedAt|date|timeago }}</p></div>
                </div>
            </div>
            <div class="item">
                <div><span class="small">{{ post.getContentLabel }}</span></div>
            </div>
            <div class="item item-s">
                <div>{{ post.getMediaItems.count }}</div>
            </div>
            <div class="item item-s">
                <div>
                    {% if post.getMetadata and post.getMetadata.getData(1).a is defined %}<span class="label label-info">A</span>{% else %}{% endif %}
                    {% if post.getMetadata and post.getMetadata.getData(1).c is defined %}<span class="label label-info">C</span>{% else %}{% endif %}
                </div>
            </div>
            <div class="item item-s">
                <div>{{ post.getTags.count }}</div>
            </div>
            <div class="item">
                <a class="detail-btn" href="{{ app.url_generator.generate('admin/post/get', {post:post.getId}) }}">
                    <i class="fa fa-ellipsis-v"></i>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
