<div class="item-list post-list">
    <div class="item-wrap">
        <div class="item text-center">
            <div>

            </div>
        </div>
        <div class="item">
            <div>Title</div>
        </div>
        <div class="item">
            <div>Author</div>
        </div>
        <div class="item">
            <div>Last Modified</div>
        </div>
        <div class="item">
            <div>
            </div>
        </div>
    </div>

    {% for post in posts %}
        <div class="item-wrap">
            <div class="item status-item text-center post-item">

                <div class="status-div">
                    {% if post.getPublished %}
                        <div class="status-icon"><i class="fa fa-eye active tooltipped"  data-toggle="tooltip" data-placement="bottom" title="Published"></i></div>
                    {% else %}
                        <div class="status-icon"><i class="fa fa-eye tooltipped"></i></div>
                    {% endif %}

                    {% if post.getExposed %}
                        <div class="status-icon"><i class="fa fa-star active tooltipped"  data-toggle="tooltip" data-placement="bottom" title="Exposed"></i></div>
                    {% else %}
                        <div class="status-icon"><i class="fa fa-star"></i></div>
                    {% endif %}
                </div>
            </div>
            <div class="item">
                <div><a href="{{ app.url_generator.generate('admin/post/view', {post:post.getId}) }}">{{ post.getTitle }}</a></div>
            </div>
            <div class="item">
                <div>{{ post.getAuthor }}</div>
            </div>
            <div class="item">
                <div>{{ post.getCreatedAt|date }}</div>
            </div>
            <div class="item">
                <a class="detail-btn" href="{{ app.url_generator.generate('admin/post/get', {post:post.getId}) }}">
                    <i class="fa fa-ellipsis-v"></i>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
