<div class="content-section">
    <div class="section-title">Status</div>
    <div class="section-entity">
        <div class="dt">Visibility status</div>
        <div class="dd">
            {% if post.getPublished %}
                <div class="label label-success"><i class="fa fa-eye"></i> Published</div>
            {% else %}
                <div class="label label-default"><i class="fa fa-eye-slash"></i> Not published</div>
            {% endif %}

            {% if post.getExposed %}
                <div class="label label-danger"><i class="fa fa-star"></i> Exposed</div>
            {% endif %}
        </div>
    </div>
</div>

<div class="content-section">
    <div class="section-entity">
        <div class="dt">Interactivity</div>
        <div class="dd">
            {% if post.getAllowComments %}
                <div class="label label-success"><i class="fa fa-comments"></i></div>
            {% else %}
                <div class="label label-default"><i class="fa fa-comments-o"></i></div>
            {% endif %}

            {% if post.getAllowRatings %}
                <div class="label label-danger"><i class="fa fa-thumbs-up"></i></div>
            {% else %}
                <div class="label label-default"><i class="fa fa-thumbs-o-up"></i></div>
            {% endif %}
        </div>
    </div>
</div>

<div class="content-section">
    <div class="section-title">Info</div>
    <div class="section-entity">
        <div class="dt">Accessible at</div>
        <div class="dd">http://{{ app.request.getHost ~ app.request.getBaseURL() ~ '/post/' ~ post.getSlug }}</div>
    </div>
</div>
<div class="content-section">
    <div class="section-entity">
        <div class="dt">Created</div>
        <div class="dd">
            {% if post.getAuthor %}
                {{ post.getAuthor.displayName }},
            {% endif %}
            {{ post.getCreatedAt|date('M d h:i') }}
        </div>
    </div>
</div>

<div class="content-section">
    <div class="section-entity">
        <div class="dt">Content label</div>
        <div class="dd">
            {% if post.getContentLabel %}{{ post.getContentLabel }}{% else %}NO LABEL{% endif %}
        </div>
    </div>
</div>

<div class="content-section">
    <div class="section-entity">
        <div class="dt">Tags</div>
        <div class="dd">
            {% if post.getTags.count > 0 %}
                {% for tag in post.getTags %}
                    <div class="label label-primary"><i class="fa fa-tag"></i> {{ tag|lower }}</div>
                {% endfor %}
            {% else %}
                This post is not tagged
            {% endif %}
        </div>
    </div>
</div>

<div class="content-section">
    <div class="section-entity">
        <div class="dt">Pages</div>
        <div class="dd">In {{ post.getPages.count }} pages (excluding dynamic)</div>
    </div>
</div>

<div class="content-section">
    <div class="section-title">Classification Results</div>
    <div class="section-entity">
        {% if post.getMetadata and post.getMetadata.getData(1)|length > 0 %}
            {% if post.getMetadata.getData(1).c|length > 0 %}
                <ul class="list-group list-group-clear">
                    {% for data in post.getMetadata.getData(1).c %}
                        {% if data.textCoverage > 0 %}
                            {% if data.classifier is defined %}
                                <li class="list-group-item">
                                    <span class="">{{ data.classifier }}</span>
                                    {% set max = max(data.classes) %}
                                    {% for key, val in data.classes %}
                                        {% if val == max %}
                                            <div class="pull-right">
                                                <span class="nw">{{ key }}</span>
                                                <div class="score label label-success">{{ val|round(2, 'floor') }}</div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                            {% endif %}
                        {% else %}
                            <li class="list-group-item">
                                <span class="">{{ data.classifier }}</span>
                                <div class="pull-right score label label-success">Text coverage too low</div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <div class="text-center">
                    <i class="fa fa-3x fa-cubes"></i>
                    <p>This post is not classified</p>
                </div>
            {% endif %}
        {% else %}
            <div class="text-center">
                <i class="fa fa-3x fa-cubes"></i>
                <p>This post has no metadata</p>
            </div>
        {% endif %}
    </div>
</div>

<div class="content-section">
    <div class="section-title">Annotation Results</div>
    <div class="section-entity">
        {% if post.getMetadata and post.getMetadata.getData(1).a is defined %}
            {% if post.getMetadata.getData(1).a|length > 0 %}
                <div class="label-bag">
                    {% for dataKey, data in post.getMetadata.getData(1).a %}
                        {% if dataKey == 'doc' %}

                        {% endif %}

                        {% if dataKey != 'doc' %}
                            {% if data._typeGroup == 'socialTag' %}
                                <a class="label label-warning tag-label-xl" href="{{ dataKey }}"><i class="fa fa-tag"></i> {{ data.name }} <span>{{ data.importance }}</span></a>
                            {% elseif data._typeGroup == 'entities' %}
                                <a class="label label-success tag-label-xl" href="{{ data._typeReference }}"><i class="fa fa-cube"></i> {{ data._type }} [{{ data.name }}] <span>{{ data.relevance|round(2, 'floor') }}</span></a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="text-center">
                    <i class="fa fa-3x fa-cubes"></i>
                    <p>This post is not annotated</p>
                </div>
            {% endif %}
        {% else %}
            <div class="text-center">
                <i class="fa fa-3x fa-cubes"></i>
                <p>This post has no metadata</p>
            </div>
        {% endif %}
    </div>
</div>

