<div class="right-bar-header">
    <div class="top-header">
        <div class="right-aux-toolbar">
            <a href="#" class="paper-btn close-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Close"><i class="fi fi-times-btb"></i></a>
            <a href="{{ app.url_generator.generate('admin/post/delete', {post:post.getId}) }}" class="paper-btn delete-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fi fi-trash-btb"></i></a>
            <a href="{{ app.url_generator.generate('admin/post/edit', {post:post.getId}) }}" class="paper-btn edit-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fi fi-edit"></i></a>
            <a href="{{ app.url_generator.generate('admin/post/view', {post:post.getId}) }}" class="paper-btn edit-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="View"><i class="fi fi-book-open-btb"></i></a>
        </div>
    </div>
    <div class="bottom-header"><h4>{{ post.getTitle }}</h4></div>
</div>

<div class="right-bar-content">
    <div class="content-section">
        <div class="section-title">Details</div>
        <div class="section-entity">
            <div class="dt">Subtitle</div>
            <div class="dd">{{ post.getSubtitle }}</div>
        </div>
    </div>

    <div class="content-section">
        <div class="section-entity">
            <div class="dt">Accessible at</div>
            <div class="dd">http://{{ app.request.getHost ~ app.request.getBaseURL() ~ '/post/' ~ post.getSlug }}</div>
        </div>
    </div>
    <div class="content-section">
        <div class="section-entity">
            <div class="dt">Created</div>
            <div class="dd">
                {% if post.getAuthor %}{{ post.getAuthor.displayName }},{% endif %}
                {{ post.getCreatedAt|date('M d h:i') }}
            </div>
        </div>
    </div>

    <div class="content-section">
        <div class="section-entity">
            <div class="dt">Visibility status</div>
            <div class="dd">
                {% if post.getPublished %}
                    <div class="label label-success"><i class="fa fa-eye"></i> Published</div>
                {% else %}
                    <div class="label label-default"><i class="fa fa-eye-slash"></i> Not published</div>
                {% endif %}
                {% if post.getExposed %}
                    <div class="label label-danger"><i class="fa fa-star"></i> Exposed</div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="content-section">
        <div class="section-entity">
            <div class="dt">Interactivity</div>
            <div class="dd">
                {% if post.getAllowComments %}
                    <div class="label label-success"><i class="fa fa-comments"></i></div>
                {% else %}
                    <div class="label label-default"><i class="fa fa-comments-o"></i></div>
                {% endif %}
                {% if post.getAllowRatings %}
                    <div class="label label-danger"><i class="fa fa-thumbs-up"></i></div>
                {% else %}
                    <div class="label label-default"><i class="fa fa-thumbs-o-up"></i></div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="content-section">
        <div class="section-entity">
            <div class="dt">Content label</div>
            <div class="dd">
                {% if post.getContentLabel %}{{ post.getContentLabel }}{% else %}This post has no labels{% endif %}
            </div>
        </div>
    </div>

    <div class="content-section">
        <div class="section-entity">
            <div class="dt">Tags</div>
            <div class="dd">
                {% if post.getTags.count > 0 %}
                    {% for tag in post.getTags %}
                        <div class="label label-primary"><i class="fa fa-tag"></i> {{ tag|lower }}</div>
                    {% endfor %}
                {% else %}This post is not tagged{% endif %}
            </div>
        </div>
    </div>

    <div class="content-section">
        <div class="section-entity">
            <div class="dt">Pages</div>
            <div class="dd">In {{ post.getPages.count }} pages (excluding dynamic)</div>
        </div>
    </div>

    <div class="content-section">
        <div class="section-entity">
            <div class="dt">Media</div>
            <div class="dd">{{ post.getMediaItems.count }} media items attached</div>
        </div>

        <div class="section-entity">
            {% if post.getMediaItems.count > 0 %}
                <div class="media-box">
                    {% for media in post.getMediaItems %}
                        <img src="{{ app.request.basepath ~ '/uploads/' ~ media.getWebPath('crop') }}" alt="{{ media.getMediaId }}"/>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>