{% extends app.request.isXmlHttpRequest ? "admin/material/masters/layout-tabs-panel.html.twig" : "admin/material/views/settings.html.twig" %}

{% block tabPaneHeader %}
<div class="controls-group controls-group-fixed">
    <div class="left-controls">
        <h3>General configuration</h3>
    </div>
</div>
{% endblock %}

{% block tabPaneContent %}

{{ form_start(form) }}


<div class="settings-section">
    <div class="settings-name">
        <h4>Site Name & Description</h4>
    </div>

    <div class="settings-content">
        <div class="des">
            Your site name and description are used on public pages and define your global project profile. Meaningful values also help search engine crawlers.
        </div>
        <div class="form-group form-element">
            {{ form_label(form.siteName) }}
            {{ form_widget(form.siteName) }}
            {{ form_errors(form.siteName) }}
        </div>

        <div class="form-group form-element">
            {{ form_label(form.siteDescription) }}
            {{ form_widget(form.siteDescription) }}
            {{ form_errors(form.siteDescription) }}
        </div>
    </div>
</div>

<div class="settings-section">
    <div class="settings-name">
        <h4>Keywords</h4>
    </div>

    <div class="settings-content">
        <div class="des">
            Keywords are used for content categorization and search optimization. Enter the words that best match the content of the post, each keyword separated by comma.
        </div>
        <div class="form-group form-element">
            {{ form_label(form.keywords) }}
            {{ form_widget(form.keywords) }}
            {{ form_errors(form.keywords) }}
        </div>
    </div>
</div>

<div class="settings-section">
    <div class="settings-name">
        <h4>Administrative</h4>
    </div>

    <div class="settings-content">
        <div class="des">
            Information about your site's administrative contact. This email address is also used for system-level messages and in-app user support requests.
        </div>
        <div class="form-group form-element">
            {{ form_label(form.siteOwner) }}
            {{ form_widget(form.siteOwner) }}
            {{ form_errors(form.siteOwner) }}
        </div>
        <div class="form-group form-element">
            {{ form_label(form.adminEmail) }}
            {{ form_widget(form.adminEmail) }}
            {{ form_errors(form.adminEmail) }}
        </div>

        <div class="des">
            You can upload your organization's logo image to show instead of the Simplex logo. This only applies to admin area as Simplex logo is never displayed on public pages.
            It also greatly simplifies logo image control in your public templates.
        </div>
        {% if settings.getSiteLogo %}
            <div class="single-item-box select-image">
                <img src="{{ app.request.getBasePath() ~ '/uploads/crops/' ~ settings.getSiteLogo }}.jpeg" width="80" />
            </div>
        {% endif %}
        <div class="">
            {{ form_label(form.siteLogo) }}
            {{ form_widget(form.siteLogo) }}
            {{ form_errors(form.siteLogo) }}
        </div>
        <div class="form-btn raised-btn select-file select-watermark">Choose file</div>

    </div>
</div>

<div class="settings-section">
    <div class="settings-name">
        <h4>Default Site Language</h4>
    </div>
    <div class="settings-content">
        <div class="des">
            In case you have a multilingual site, you must choose a default language.
        </div>
        <div class="form-group form-element">
            {{ form_label(form.language) }}
            {{ form_widget(form.language) }}
            {{ form_errors(form.language) }}
        </div>
    </div>
</div>

<div class="settings-section">
    <div class="settings-name">
        <h4>Options</h4>
    </div>
    <div class="settings-content condensed">
        <div class="des">
            Put your site online or offline.
        </div>
        <div class="form-group field option">
            {{ form_row(form.live) }}
        </div>
        <div class="des">
            Annotations bring in-depth classification and enrichment capabilities to your text content. You can enable this feature globally here.
        </div>
        <div class="form-group field option">
            {{ form_row(form.enableAnnotations) }}
        </div>
        <div class="des">
            This will enable public access to your published items directly.
        </div>
        <div class="field form-group option">
            {{ form_row(form.enableQueryStringAccess) }}
        </div>
        <div class="des">
            This will allow your public template to implement a user registration form. Registered users are assigned the user role, and don't get access to the administration panel.
        </div>
        <div class="form-group field option">
            {{ form_row(form.allowPublicUserRegistration) }}
        </div>
    </div>
</div>

<div class="form-action">
    {{ form_row(form.cancel) }}
    {{ form_row(form.save) }}
</div>

{{ form_end(form) }}

{% endblock %}
