{% extends app.request.isXmlHttpRequest ? "admin/material/masters/layout-tabs-panel.html.twig" : "admin/material/views/settings.html.twig" %}

{% block tabPaneHeader %}
<div class="controls-group">
    <div class="left-controls">
        <h3>Theme settings</h3>
    </div>
    <div class="right-controls">
        <a class="form-btn upload-theme-btn" href="{{ app.url_generator.generate('admin/settings/themes/add') }}"><i class="fa fa-plus"></i> Upload theme</a>
    </div>
</div>
{% endblock %}

{% block tabPaneContent %}

{{ form_start(form) }}

<div class="settings-section">
    <div class="settings-name">
        <h4>Site theme</h4>
    </div>

    <div class="settings-content">
        <div class="des">
            Theme for public pages.
        </div>
        <div class="form-group field field-small option">
            {{ form_widget(form.public_theme) }}
        </div>
    </div>
</div>

<div class="settings-section">
    <div class="settings-name">
        <h4>Admin theme</h4>
    </div>

    <div class="settings-content">
        <div class="des">
            Administrator area theme.
        </div>
        <div class="form-group field field-small option">
            {{ form_widget(form.admin_theme) }}
        </div>
    </div>
</div>
<div class="form-action">
    {{ form_row(form.cancel) }}
    {{ form_row(form.save) }}
</div>
{{ form_end(form) }}

{% endblock %}
