<div class="row">
    <a class="dismiss-popover" href="#"><i class="fa fa-times"></i></a>

    <div class="col-xs-4 popover-left">
    {% if user.getAvatar %}
        <img src="{{ display('crops:' ~ user.getAvatar.getPath) }}" alt=""/>
    {% else %}
        <img src="{{ app.request.basepath ~ '/assets/images/default-user-icon-profile.png' }}" alt=""/>
    {% endif %}
    </div>

    <div class="col-xs-8 popover-right">
        <p>{{ user.displayName }}</p>
        <p>{{ user.getRoles|join(', ') }}</p>
        <p>Joined {{ user.getCreatedAt|date|timeago }}</p>
    </div>

    <div class="col-xs-12 popover-bottom">
        <a href="#"><i class="fa fa-envelope"></i></a>
        <a href="#"><i class="fa fa-user"></i></a>
        <a href="#">{{ user.getPostsAuthored|length + user.getPostsEdited|length }} <i class="fa fa-file"></i></a>
    </div>
</div>