<div class="right-bar-header">
    <div class="top-header">
        <div class="right-aux-toolbar">
            <a href="#" class="paper-btn close-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Close"><i class="fa fa-times"></i></a>
            <a href="{{  app.url_generator.generate('admin/user/delete', {user:user.getId}) }}" class="paper-btn delete-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i></a>
            <a href="{{ app.url_generator.generate('admin/user/edit', {user:user.getId}) }}" class="paper-btn edit-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-pencil"></i></a>
        </div>
    </div>
    <div class="bottom-header"><h4>{{ user.displayName }}</h4></div>
</div>

<div class="right-bar-content">
    <div class="content-section">
        <div class="section-title">Details</div>
        <div class="section-entity">
            <div class="dt">Email</div>
            <div class="dd">{{ user.getEmail }}</div>
        </div>

        <div class="section-entity">
            <div class="dt">Account status</div>
            <div class="dd">
                {% if user.getIsActive %}
                    Active
                {% else %}
                    Inactive
                {% endif %}
            </div>
        </div>

        <div class="section-entity">
            <div class="dt">Assigned roles
            </div>
            <div class="dd">{{ user.getRoles|join(', ')|split('ROLE_')[1] }}</div>
        </div>

        <div class="section-entity">
            <div class="dt">Member since</div>
            <div class="dd">{{ user.getCreatedAt|date('M d h:i') }}</div>
        </div>
    </div>

    <div class="content-section">
        <div class="section-title">Authored posts</div>
        <div class="section-entity">
            {% if user.getPostsAuthored.count > 0 %}
                <ul class="list-box">
                    {% for post in user.getPostsAuthored %}
                        <li>{{ post.getTitle }} <span class="pull-right">{{ post.getCreatedAt|date('M d h:i') }}</span></li>
                    {% endfor %}
                </ul>
            {% else %}
                This user has not contributed any posts yet.
            {% endif %}
        </div>
    </div>

    <div class="content-section">
        <div class="section-title">Edited posts</div>
        <div class="section-entity">
            {% if user.getPostsEdited.count > 0 %}
                <ul class="list-box">
                    {% for post in user.getPostsEdited %}
                        <li>{{ post.getTitle }} <span class="pull-right">{{ post.getUpdatedAt|date('M d h:i') }}</span></li>
                    {% endfor %}
                </ul>
            {% else %}
                This user has not edited any posts yet.
            {% endif %}
        </div>
    </div>
</div>
