{% extends "admin/default/masters/layout-admin.html.twig" %}

{% block content %}

<script type="text/javascript" src="{{ app.request.basepath }}/assets/chartjs/Chart.min.js"></script>
<div class="main-content dash-padding">

    <div class="row db-tabs">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-mini" role="tablist">
            <li class="tab-lead disabled"><span><i class="fa fa-bar-chart-o"></i> SITE STATS <i class="fa fa-angle-right"></i></span></li>
            <li class="active"><a href="#home" role="tab" data-toggle="tab">CONTENT</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content tabs-mini">
            <div class="tab-pane active" id="home">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <h5>Content creation trend (days)</h5>
                        <div>
                            <canvas id="postsChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row db-control">
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-3">
                    {% if user.getAvatar %}
                        <div class="user-img">
                            <img src="{{ app.request.basepath ~ '/uploads/crops/' ~ user.getAvatar }}" alt="" />
                        </div>
                    {% else %}
                        <div class="user-img">
                            <img src="{{ asset('image:default-user-icon-profile.png') }}" alt="" />
                        </div>
                    {% endif %}
                </div>
                <div class="col-xs-9">
                    <h4 class="page-header clean">Welcome back, {{ user.displayName }}!</h4>
                    <p>Application running on {{ app.request.getBaseURL() }}. Administrative contact is {{ settings.getAdminEmail }}.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-4 col-sm-4">
                    <div class="list-group text-center">
                        <a href="{{ app.url_generator.generate('admin/post/add') }}" class="list-group-item"><i class="fa fa-file-text fa-2x"></i><i class="fa fa-plus"></i></a>
                        <a href="{{ app.url_generator.generate('admin/page/add') }}" class="list-group-item"><i class="fa fa-file fa-2x"></i><i class="fa fa-plus"></i></a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <div class="list-group text-center">
                        <a href="{{ app.url_generator.generate('admin/user/add') }}" class="list-group-item"><i class="fa fa-user fa-2x"></i><i class="fa fa-plus"></i></a>
                        <a href="{{ app.url_generator.generate('admin/settings') }}" class="list-group-item"><i class="fa fa-cogs fa-2x"></i></a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <div class="list-group text-center">
                        {% if app.settings.getLive == 1 %}
                            <a href="" class="list-group-item"><i style="color: deeppink;" class="fa fa-check fa-2x"></i></a>
                        {% else %}
                            <a href="" class="list-group-item"><i class="fa fa-check fa-2x"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row db-control latest-overview">
        <div class="col-xs-12 col-md-4">
            {% if latest is defined %}
                <h5 class="page-header clean tiny"><i class="fa fa-clock-o"></i> Latest posts</h5>
                <table class="table table-condensed table-small">
                {% for latestPost in latest.posts %}
                        <tr>
                            <td>{{ latestPost.getTitle }}</td>
                            <td class="text-right">{{ latestPost.getCreatedAt|date('M/d h:i') }}</td>
                        </tr>
                {% endfor %}
                </table>
            {% endif %}

        </div>
        <div class="col-xs-12 col-md-4">
            {% if latest is defined %}
                <h5 class="page-header clean tiny"><i class="fa fa-clock-o"></i> Latest media</h5>
                <table class="table table-condensed table-small media-overview">
                    {% for latestMedia in latest.media %}
                        <tr>
                            <td>
                                <div class="media-img">
                                    {% if latestMedia.type == 'video' %}
                                        <img height="50" src="{{ app.request.basepath ~ '/uploads/crops/' ~ latestMedia.getMediaId ~ '.jpeg' }}">
                                    {% else %}
                                        <img height="50" src="{{ display('crops:' ~ latestMedia.getPath) }}">
                                    {% endif %}
                                </div>
                            </td>
                            <td>{{ latestMedia.type }}</td>
                            <td class="text-right">{{ latestMedia.getCreatedAt|date('M/d h:i') }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        <div class="col-xs-12 col-md-4">
            {% if latest is defined %}
                <h5 class="page-header clean tiny"><i class="fa fa-clock-o"></i> Latest pages</h5>
                <table class="table table-condensed table-small">
                    {% for latestPage in latest.pages %}
                        <tr>
                            <td>
                                {% if latestPage.getQueries.count > 0 %}
                                    <i class="fa fa-circle-o" style="color:#1ca823;"></i> {{ latestPage.getTitle }}
                                {% else %}
                                    <i class="fa fa-circle-o" style="color:#999;"></i> {{ latestPage.getTitle }}
                                {% endif %}
                            </td>
                            <td class="text-right">{{ latestPage.getCreatedAt|date('M/d h:i') }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
