{% extends app.request.isXmlHttpRequest ? "admin/default/masters/layout-modal-media.html.twig" : "admin/default/masters/layout-admin.html.twig" %}

{% block content %}
    
    {% block header %}
        {% if item.getMetadata %}
            {% for metakey, metaval in item.getMetadata.getData %}
                {% if item.getType == 'image' and metaval != '@todo'  %}
                    {% if metakey == 'time_originated' %}
                        <span class="label label-clear"><i class="glyphicon glyphicon-time_originated"></i> {{ metaval|date('M d, Y H:i') }}</span>
                        <span class="label label-clear"><i class="glyphicon glyphicon-export"></i> {{ item.getCreatedAt|date('M d, Y') }}</span>
                    {% else %}
                        <span class="label label-clear"><i class="glyphicon glyphicon-{{ metakey }}"></i> {{ metaval }}</span>
                    {% endif %}
                {% elseif item.getType == 'video' %}
                    {% if metakey != 'video_stream' and metakey != 'audio_stream' and metakey != 'audio' and metakey != 'video' and metakey != 'height' %}
                        {% if metakey == 'width' and metaval < 1280 %}
                            <span class="label label-clear"><i class="glyphicon glyphicon-sd-video"></i> {{ item.getMetadata.getData.width ~ ' x ' ~ item.getMetadata.getData.height }}</span>
                        {% elseif metakey == 'width' and metaval >= 1280 %}
                                <span class="label label-clear"><i class="glyphicon glyphicon-hd-video"></i> {{ item.getMetadata.getData.width ~ ' x ' ~ item.getMetadata.getData.height }}</span>
                        {% elseif metakey == 'size' or metakey == 'bit_rate' %}
                            <span class="label label-clear"><i class="glyphicon glyphicon-{{ metakey }}"></i> {{ metaval.0|round(2, 'ceil') ~ ' ' ~ metaval.1 }}</span>
                        {% elseif metakey == 'time_originated' %}
                            <span class="label label-clear"><i class="glyphicon glyphicon-time_originated"></i> {{ metaval|date('M d, Y H:i') }}</span>
                            <span class="label label-clear"><i class="glyphicon glyphicon-export"></i> {{ item.getCreatedAt|date('M d, Y') }}</span>
                        {% else %}
                            <span class="label label-clear"><i class="glyphicon glyphicon-{{ metakey }}"></i> {{ metaval|join(' ') }}</span>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endblock %}
    {% block body %}
        {% if item %}
            {% if item.getType() == 'image' %}
                <div class="image-item-embed">
                    <img src="{{ app.request.basepath ~ '/uploads/thumbnails/large/' ~ item.getPath }}" />
                </div>
            {% elseif item.getType() == 'video' %}
                <div class="video-item-embed">
                    <video style="width:100%;" controls>
                        <source src="{{ app.request.basepath }}/uploads/{{ item.getMediaId }}.ogg" type="video/ogg">
                        <source src="{{ app.request.basepath }}/uploads/{{ item.getMediaId }}.mp4" type="video/mp4">
                        Can't play
                    </video>
                </div>
            {% endif %}
        {% endif %}
    {% endblock %}
    {% block footer %}
        <button type="button" class="btn btn-cancel btn-default" data-dismiss="modal">Close</button>
    {% endblock %}
{% endblock %}