{% extends "admin/default/masters/layout-admin.html.twig" %}

{% form_theme form with ['bootstrap.html.twig', 'admin/default/masters/flat-form.html.twig'] %}

{% block content %}
<div class="main-content affix-content">
    <div class="affixed">
        <div class="row">
            <div class="col-xs-4 affix-left-controls">
                <div class="btn-group">
                    <a href="{{ app.url_generator.generate('admin/pages') }}" class="btn btn-round btn-action tooltipped" data-toggle="tooltip" data-placement="right" title="Back"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="col-xs-4 text-center">
                {% if page is defined %}
                    <h5>{{ page.getTitle }}</h5>
                {% else %}
                    <h5>New page</h5>
                {% endif %}
            </div>
            <div class="col-xs-4 text-right affix-right-controls">
            </div>
        </div>
    </div>

    <div class="xhr-container affix-collection">

        {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
            <div class="tab-wrap form">
                <ul class="nav nav-tabs" role="tablist" id="pages-tabs">
                    <li class="active"><a href="#home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-file"></span> Page</a></li>
                    <li><a href="#data" role="tab" data-toggle="tab" id="page-tab"><i class="fa fa-database"></i> Data</a></li>
                </ul>

                <div class="tab-content page-content">
                    <div class="tab-pane active" id="home">
                        <div class="row">
                            <div class="col-xs-12 data-group">
                                <div class="form-group">
                                    <div class="col-sm-2 text-right">
                                        {{ form_label(form.title) }}
                                    </div>
                                    <div class="col-sm-10 field">
                                        {{ form_widget(form.title) }}
                                    </div>
                                    {{ form_errors(form.title) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 data-group">
                                <div class="form-group">
                                    <div class="col-sm-2 text-right">
                                        {{ form_label(form.slug) }}
                                    </div>
                                    <div class="col-sm-10 field">
                                        {{ form_widget(form.slug) }}
                                    </div>
                                    {{ form_errors(form.slug) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 data-group">
                                <div class="form-group">
                                    <div class="col-sm-2 text-right">
                                        {{ form_label(form.master) }}
                                    </div>
                                    <div class="col-sm-10 field">
                                        {{ form_widget(form.master) }}
                                    </div>
                                    {{ form_errors(form.master) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 data-group">
                                <div class="form-group">
                                    <div class="col-sm-2 text-right">
                                        {{ form_label(form.view) }}
                                    </div>
                                    <div class="col-sm-10 field">
                                        {{ form_widget(form.view) }}
                                    </div>
                                    {{ form_errors(form.view) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 data-group">
                                <div class="form-group">
                                    <div class="col-sm-2 text-right">
                                        {{ form_label(form.description) }}
                                    </div>
                                    <div class="col-sm-10 field">
                                        {{ form_widget(form.description) }}
                                    </div>
                                    {{ form_errors(form.description) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 data-group">
                                <div class="form-group">
                                    <div class="col-sm-2 text-right">
                                        {{ form_label(form.typeColor) }}
                                    </div>
                                    <div class="col-sm-10 field">
                                        {{ form_widget(form.typeColor) }}
                                    </div>
                                    {{ form_errors(form.typeColor) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 data-group">
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <div class="field option">
                                            {{ form_row(form.in_menu) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="data">
                        {% for query in form.queries %}
                            {% include 'admin/default/widgets/edit-query-form.html.twig' with {form: query.vars.form} %}
                        {% endfor %}
                        <div class="add-pq-form" data-proto="{% filter escape %}{% include 'admin/default/widgets/add-query-form.html.twig' %}{% endfilter %}"></div>

                        <div class="form-group">
                            <div class="col-xs-3 text-right">
                                {{ form_label(form.authors) }}
                            </div>
                            <div class="col-xs-7">
                                <div class="field option">
                                    {{ form_widget(form.authors) }}
                                </div>
                            </div>
                        </div>

                       <div class="form-group">
                           <div class="col-xs-3 text-right">
                               {{ form_label(form.tags) }}
                           </div>
                           <div class="col-xs-7">
                               <div class="field option">
                                   {{ form_widget(form.tags) }}
                               </div>
                           </div>
                       </div>
                    </div>
                </div>
                <div class="form-group submit-controls page-submit-controls">
                    {{ form_widget(form.save) }}
                    {{ form_widget(form.cancel) }}
                </div>
            </div>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
