{% extends "admin/default/masters/layout-admin.html.twig" %}

{% form_theme form with ['bootstrap.html.twig', 'admin/default/masters/flat-form.html.twig', _self] %}

{% block radio_widget %}
    {% spaceless %}
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <span class="radiobox {% if checked %} radiobox-selected{% endif %}"></span>
        {% if value is defined %}
            {% if value != '' %}
                <div class="radio-img">
                    <img height="140" src="{{ app.request.basepath }}/templates/admin/{{ value }}/theme.jpg" alt="{{ value }}"/>
                </div>
            {% else %}
                <div class="radio-img">
                    <img height="140" src="{{ app.request.basepath }}/assets/images/default-user-icon-profile.png" alt="{{ value }}"/>
                </div>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock radio_widget %}

{% block content %}
<div class="main-content affix-content">
    <div class="affixed posts">
        <div class="row">
            <div class="col-xs-4 affix-left-controls">

            </div>
            <div class="col-xs-4 text-center">
                <h5>Settings</h5>
            </div>
            <div class="col-xs-4 text-right affix-right-controls righdddt-controls dd-dark">
                <div class="btn-group">
                    <div class="dropdown">
                        <a href="#" class="btn btn-round dropdown-toggle" data-toggle="dropdown"><i class="fa fa-download"></i></a>

                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ app.url_generator.generate('admin/settings/export', {format:'xml'}) }}"><i class="fa fa-file-code-o icon-dim-fa"></i>Download as XML</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ app.url_generator.generate('admin/settings/export', {format:'json'}) }}"><i class="fa fa-file-code-o icon-dim-fa"></i>Download as JSON</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="collection affix-collection">
        <div class="tab-wrap">
            {% block tabsHeader %}
                <ul class="nav nav-tabs" role="tablist" id="settings-tabs">

                    {% for key, panel in tabs.panels %}
                        <li class="{{ panel.active ? 'active' : '' }}"><a href="#{{ key }}" role="tab" data-url="{{ panel.url }}" data-toggle="tab"><i class="fa fa-cog"></i> {{ key|capitalize }}</a></li>
                    {% endfor %}
                </ul>

                {#
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#settings" role="tab" data-url="{{ app.url_generator.generate('admin/settings') }}" data-toggle="tab"><i class="fa fa-cog"></i> General</a></li>
                    <li><a href="#media" role="tab" data-url="{{ app.url_generator.generate('admin/media/settings') }}" data-toggle="tab"><i class="fa fa-photo"></i></span> Media</a></li>
                    <li><a href="#themes" role="tab" data-url="{{ app.url_generator.generate('admin/settings/themes') }}" data-toggle="tab"><i class="fa fa-leaf"></i> Themes</a></li>
                    <li><a href="#mailing" role="tab" data-url="{{ app.url_generator.generate('admin/settings/mail') }}" data-toggle="tab"><i class="fa fa-envelope"></i> Mailing</a></li>
                    <li><a href="#snapshots" role="tab" data-toggle="tab"><i class="fa fa-history"></i> Snapshots</a></li>
                </ul>
                #}

            {% endblock %}
            <div class="tab-content">

                {% for key, panel in tabs.panels %}
                    {% if panel.active %}
                        <div class="tab-pane active" id="{{ key }}">
                            {% block tabPaneHeader %}
                            {% endblock %}
                            {% block tabPaneContent %}
                            {% endblock %}
                        </div>
                    {% else %}
                        <div class="tab-pane" id="{{ key }}">
                        </div>
                    {% endif %}
                {% endfor %}


                {#
                <div class="tab-pane active" id="settings">
                    {% include "admin/default/widgets/settings.html.twig" %}
                </div>

                <div class="tab-pane" id="media">
                </div>

                <div class="tab-pane" id="themes">
                </div>

                <div class="tab-pane" id="mailing">
                </div>

                <div class="tab-pane" id="snapshots">
                </div>
                #}
            </div>
        </div>

    </div>
</div>
{% endblock %}