{% extends "admin/default/masters/layout-admin.html.twig" %}

{% form_theme form "bootstrap.html.twig" %}

{% block content %}
<div class="main-content user-profile-layout">
    <!--<h2 class="page-header top">My profile</h2>-->
    <div class="row sbs">
        <div class="col-xs-4 col-md-3">
            {% if user.getAvatar %}
                <div class="user-img select-image">
                    <div class="select-overlay-multiple">
                        <a href="#" class="remove-old">Remove image</a>
                        <a href="#" class="select-new">Change image</a>
                    </div>
                    <img src="{{ app.request.basepath ~ '/uploads/crops/' ~ user.getAvatar }}" alt=""/>
                </div>
            {% else %}
                <div class="user-img select-image">
                    <div class="select-overlay-multiple">
                        <a href="#change" class="select-new">Choose image</a>
                    </div>
                    <img src="{{ app.request.basepath ~ '/assets/images/default-user-icon-profile.png' }}" alt="" />
                </div>
            {% endif %}

            <div class="list-group user-actions" role="tablist">
                <a href="#profile" class="list-group-item active" role="tab" data-toggle="tab">
                    My Profile
                </a>
                <a href="#credentials" class="list-group-item" role="tab" data-toggle="tab">Credentials</a>
                <a href="#myposts" class="list-group-item" role="tab" data-toggle="tab">My posts</a>
            </div>
        </div>
        <div class="col-xs-12 col-with-left-padding">
            <div class="tab-content user-settings-panes">
                <div class="tab-pane fade in active" id="profile">
                    <div class="item-detail">
                        {% for role in user.getRoles %}
                            <span class="label label-info"><i class="fa fa-gavel"></i> {{ role }}</span>
                        {% endfor %}
                        <span class="label label-default"><i class="fa fa-clock-o"></i> {{ user.getCreatedAt|date }}</span>
                        <span class="label label-default"><i class="fa fa-envelope-o"></i> {{ user.getUsername}}</span>
                    </div>

                    {{ form_start(form) }}
                        <div class="form-group field">
                            {{ form_label(form.first_name) }}
                            <div class="field field-small append-icon">
                                {{ form_widget(form.first_name) }}
                                {{ form_errors(form.first_name) }}
                                <div class="field-addon"><i class="fa fa-pencil"></i></div>
                            </div>
                        </div>
                        <div class="form-group field">
                            {{ form_label(form.last_name) }}
                            <div class="field field-small append-icon">
                                {{ form_widget(form.last_name) }}
                                {{ form_errors(form.last_name) }}
                                <div class="field-addon"><i class="fa fa-pencil"></i></div>
                            </div>
                        </div>
                        <div class="form-group field area">
                            {{ form_label(form.description) }}
                            {{ form_errors(form.description) }}
                            <div class="field field-small">
                                {{ form_widget(form.description, { 'attr': { 'spellcheck': 'false' } }) }}
                            </div>
                        </div>
                        <div class="form-group hidden">
                            {{ form_widget(form.avatarFile) }}
                        </div>
                        {{ form_widget(form.save) }}
                        {{ form_widget(form.cancel) }}
                    {{ form_end(form) }}
                </div>
                <div class="tab-pane fade" id="credentials">
                </div>
                <div class="tab-pane fade" id="myposts">
                    {% if user.getPostsAuthored|length < 1 %}
                    <div class="jumbotron jumbo-clear">
                        <h1 class="page-header text-center">No posts</h1>
                        <p class="text-center">No posts here.</p>
                        <div class="holder holder-post">
                            <div class="p-main">
                                <div class="p-header">
                                    <div class="p-flag"></div>
                                    <div class="p-title"></div>
                                </div>
                                <div class="p-content">
                                    <ul class="p-insides">
                                        <li class="img"></li>
                                        <li class="line"></li>
                                        <li class="line"></li>
                                        <li class="line"></li>
                                        <li class="line"></li>
                                        <li class="line"></li>
                                        <li class="line"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br>
                        <p class="text-center"><a href="{{ app.url_generator.generate('admin/post/add') }}" class="btn btn-primary btn-action btn-lg" role="button">Add a post now</a></p>
                    </div>
                    {% else %}
                        <h3 class="page-header">My Posts</h3>
                        {% include 'admin/default/widgets/post-list.html.twig' with {'posts': user.getPostsAuthored} %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
