{% extends "admin/default/masters/layout-ajax.html.twig" %}

{% form_theme form with ['bootstrap.html.twig', 'admin/default/masters/flat-form.html.twig', _self] %}

{% block radio_widget %}
    {% spaceless %}
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <span class="radiobox {% if checked %} radiobox-selected{% endif %}"></span>
        {% if value is defined %}
            {% if value != '' %}
                <div class="radio-img">
                    <img height="140" src="{{ app.request.basepath }}/templates/admin/{{ value }}/theme.jpg" alt="{{ value }}"/>
                </div>
            {% else %}
                <div class="radio-img">
                    <img height="140" src="{{ app.request.basepath }}/assets/images/default-user-icon-profile.png" alt="{{ value }}"/>
                </div>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock radio_widget %}


{% block content %}
    {% block tabPaneHeader %}

    {% endblock %}

    {% block tabPaneContent %}

    {% endblock %}
{% endblock %}