{% extends page is defined ? "site/blog-simple/masters/" ~ page.getMaster ~ ".html.twig" : "site/blog-simple/masters/layout-default.html.twig" %}

{# Override default layout's header #}
{% block header %}
    {% if content is not empty %}
        <header class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <h1 class="section-header">{{ content.getTitle }}</h1>
                <div class="meta">
                    <span>Posted by {{ content.getAuthor.displayName }} on {{ content.getCreatedAt|date }}</span>
                </div>
            </div>
        </header>
    {% endif %}
{% endblock %}

{# Main content (post) block #}
{% block content %}
    {% if content is not empty %}
        <div class="post">
            {# Get first media item and display as hero #}
            <div class="media">
                {% if content.getMediaItems.count > 0 %}
                    <img src="{{ app.request.basepath ~ '/uploads/' ~ content.getMediaItems.0.getWebPath('large') }}" alt=""/>
                    <div>{{ content.getMediaItems.0.getTitle }}</div>
                {% endif %}
            </div>
            <div class="post-content">
                <div class="extract"><p>{{ content.getSubtitle }}</p></div>
                <p>{{ content.getBody|raw }}</p>
            </div>

            {# Display the rest of media items, if any #}
            {% if content.getMediaItems.count > 0 %}
            <div class="thumbs row">
                {% for media in content.getMediaItems|slice(1) %}
                    <div class="col-xs-6 col-md-3">
                        <a href="{{ app.request.baseUrl ~ '/media/' ~ media.getId }}" class="thumbnail">
                        <img src="{{ app.request.basepath ~ '/uploads/' ~ media.getWebPath('crop') }}" alt="{{ media.getTitle }}">
                            <div class="thumb-overlay">{{ media.getTitle }}</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{# Override default layout's right column #}
{% block right_col %}
    <div class="row">
    {% if content is not empty %}
        <article class="tags top col-xs-12">
            {% if content.getTags and content.getTags.count > 0 %}
                <h4>Tags</h4>
                <div class="post-tags">
                    {% for tag in content.getTags %}
                        <a href="#">{{ tag.getName }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </article>

        <article class="tags col-xs-12">
            {% include 'site/blog-simple/widgets/metadata.html.twig' with {'post': content} %}
        </article>
    {% endif %}
    </div>
{% endblock %}