{% extends page is defined ? "site/default/masters/" ~ page.getMaster ~ ".html.twig" : "site/default/masters/layout-default.html.twig" %}

{% block content %}
    {% for item in content %}
        {% for post in item %}
            <div class="col-xs-12 post-wrap">
                <h3 class="post-title">
                    {{ post.getTitle }}
                </h3>
                <div class="post-meta">
                    <p class="post-meta-main small text-muted">
                        <span class="post-author">{{ post.getAuthor.displayName }}</span> on <span class="post-date-created">{{ post.getCreatedAt|date }}</span>
                    </p>

                    {% if post.getTags %}
                        <div class="post-tags">
                            {% for tag in post.getTags %}
                                <div class="label label-info">{{ tag.getName }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="post-body">
                    <a class="post-show-more" href="{{ app.request.baseUrl ~ '/post/' ~ post.getSlug }}">Read more</a>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}