<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>NV3 Admin</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/build2/font-awesome-4.2.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/build2/reset.css"/>
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/build2/bootstrap.css"/>
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/build2/jquery-ui.structure.css"/>
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/build2/modal.css"/>
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/build2/flats.css"/>
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/build2/graphics.css"/>
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/build2/main.css"/>

    <script type="text/javascript" src="{{ app.request.basepath }}/assets/build2/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/assets/build2/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/assets/build2/bootstrap.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/assets/build2/main.js"></script>
</head>

<body class="initial-pad">
<div class="login-grid">
    <div class="grid-outer">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>