{% extends "admin/material/masters/layout-admin.html.twig" %}

{% block pageHeader %}
    <header class="big-header">
        <div class="header-wrapper">
            <div class="inner-header-wrapper">
                <div class="top-header-wrapper">
                    <div class="header-title">
                        <span>Dashboard</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="float-wrap">
            <a href="#" class="float-btn morph-initial morph-float"><i class="fa fa-plus"></i></a>
            <div class="controls-hidden">
                <a href="{{ app.url_generator.generate('admin/post/add') }}" class="float-btn action-btn tooltipped" data-toggle="tooltip" data-placement="left" title="New post"><i class="fa fa-file-text"></i></a>
                <a href="{{ app.url_generator.generate('admin/page/add') }}" class="float-btn action-btn tooltipped" data-toggle="tooltip" data-placement="left" title="New page"><i class="fa fa-file"></i></a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="dashboard-grid-header">
        <div class="dashboard-grid-header-outer clearfix">
            <div class="header-box info-box">

                <div class="info-image">
                    {% if user.getAvatar %}
                        <img src="{{ display('crops:' ~ user.getAvatar.getPath) }}" alt="" />
                    {% else %}
                        <img src="{{ app.request.basepath ~ '/assets/images/default-user-icon-profile.png' }}" alt=""/>
                    {% endif %}
                </div>

                <div class="info-text">
                    <p>Welcome back, <b>{{ user.displayName }}</b>!</p>
                    <a href="{{ app.url_generator.generate('admin/user/profile') }}">Manage your profile</a>
                </div>

            </div>

            <div class="header-box info-box status-type right-info-box">
                <div class="info-app-button">

                    <div class="dropdown">
                        <a id="settings-menu" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle btn-large" href="{{ app.url_generator.generate('admin/settings') }}">
                            <i class="fa fa-cog"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="settings-menu">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{{ app.url_generator.generate('admin/settings') }}">General settings</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{{ app.url_generator.generate('admin/media/settings') }}">Media options</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{{ app.url_generator.generate('admin/settings/themes') }}">Theme settings</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{{ app.url_generator.generate('admin/settings/mail') }}">Mail configuration</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info-app-status">
                    <p><b>{{ app.request.getHost ~ app.request.getBaseURL() }}</b></p>
                    {% if app.settings.getLive == 1 %}
                        <p><a target="_blank" href="{{ app.url_generator.generate('/') }}">Site is online</a></p>
                    {% else %}
                        <p>Site is offline</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-dashboard">
        <div class="dash-inner">
            <div class="row">
                <div class="card-wrap stripped-wrap col-xs-12">
                    <div class="card bg">
                        <h5 class="latest-header">Latest</h5>
                        <div class="chips">
                            {% if latest is defined %}
                                {% if latest.posts|length > 0 %}
                                    {% for latestPost in latest.posts %}
                                        <div class="chip2">
                                            <div class="chip2-line"></div>
                                            <div class="chip2-header">
                                                <div class="chip2-inner">
                                                    <div class="chip2-pre-header hidden">
                                                        <div class="chip2-pre-header-title">
                                                            <div class="badge-icon badge-icon-big badge-blue"><i class="fa fa-2x fa-file-text"></i></div>
                                                            <h3>{{ latestPost.getTitle }}</h3>
                                                        </div>

                                                        <div class="chip2-controls">
                                                            <a class="delete-page delete-btn btn-small" href="{{ app.url_generator.generate('admin/post/delete', {post:latestPost.getId}) }}"><i class="fa fa-trash"></i></a>
                                                            <a class="btn-small" href="{{ app.url_generator.generate('admin/post/edit', {post:latestPost.getId}) }}"><i class="fa fa-pencil"></i></a>
                                                            <a class="btn-small chip-close" href="#"><i class="fa fa-caret-up"></i></a>
                                                        </div>
                                                    </div>

                                                    <div class="chip2-summary">
                                                        <div class="badge-icon badge-icon-big badge-blue"><i class="fa fa-2x fa-file-text"></i></div>
                                                        <div class="chip2-detail">
                                                            <h3>{{ latestPost.getTitle }}</h3>
                                                            {% if latestPost.getAuthor %}
                                                                {% if user == app.security.token.user %}
                                                                    <p>by {{ latestPost.getAuthor.displayName }} <span class="connector">-</span> <span>{{ latestPost.getCreatedAt|date|timeago }}</span></p>
                                                                {% else %}
                                                                    <p>by {{ latestPost.getAuthor.displayName }} <span class="connector">-</span> <span>{{ latestPost.getCreatedAt|date|timeago }}</span></p>
                                                                {% endif %}
                                                            {% else %}
                                                                <p>no author</p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="chip2-loader"></div>
                                            </div>

                                            <div class="chip2-content">
                                                <div class="chip2-inner">
                                                    <div class="chip2-content-info">
                                                        {% if latestPost.getAuthor %}
                                                            {% if latestPost.getAuthor.getAvatar %}
                                                                <img src="{{ display('crops:' ~ latestPost.getAuthor.getAvatar.getPath) }}" alt=""/>
                                                            {% else %}
                                                                <img src="{{ app.request.basepath ~ '/assets/images/default-user-icon-profile.png' }}" alt=""/>
                                                            {% endif %}

                                                            <p>by <a class="user-popover btn btn-default" href="{{ app.url_generator.generate('admin/user/get', {user:user.getId}) }}">{{ latestPost.getAuthor.displayName }}</a><span>{{ latestPost.getCreatedAt|date|timeago }}</span></p>
                                                        {% else %}
                                                            <img src="{{ app.request.basepath ~ '/assets/images/default-user-icon-profile.png' }}" alt=""/>
                                                            <p>no author</p>
                                                        {% endif %}
                                                    </div>

                                                    <div class="chip2-content-main">
                                                        <p>{{ latestPost.getSubtitle }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                {% if latest.pages|length > 0 %}
                                    {% for latestPage in latest.pages %}
                                       <div class="chip2">
                                           <div class="chip2-line"></div>
                                           <div class="chip2-header">
                                               <div class="chip2-inner">
                                                   <div class="chip2-pre-header hidden">
                                                       <div class="chip2-pre-header-title">
                                                           <div class="badge-icon badge-icon-big badge-violet"><i class="fa fa-2x fa-file"></i></div>
                                                           <h3>{{ latestPage.getTitle }}</h3>
                                                       </div>

                                                       <div class="chip2-controls">
                                                           <a class="delete-page delete-btn btn-small" href="{{ app.url_generator.generate('admin/page/delete', {page:latestPage.getId}) }}"><i class="fa fa-trash"></i></a>
                                                           <a class="btn-small" href="{{ app.url_generator.generate('admin/page/edit', {page:latestPage.getId}) }}"><i class="fa fa-pencil"></i></a>
                                                           <a class="btn-small chip-close" href="#"><i class="fa fa-caret-up"></i></a>
                                                       </div>
                                                   </div>

                                                   <div class="chip2-summary">
                                                       <div class="badge-icon badge-icon-big badge-violet"><i class="fa fa-2x fa-file"></i></div>
                                                       <div class="chip2-detail">
                                                           <h3>{{ latestPage.getTitle }}</h3>
                                                           {% if latestPage.getAuthor %}
                                                               <p>by {{ latestPage.getAuthor.displayName }} <span class="connector">-</span> <span>{{ latestPage.createdAt|date|timeago }}</span></p>
                                                           {% else %}
                                                               <p>no author</p>
                                                           {% endif %}
                                                       </div>
                                                   </div>
                                               </div>

                                               <div class="chip2-loader"></div>
                                           </div>

                                           <div class="chip2-content">
                                               <div class="chip2-inner">
                                                   <div class="chip2-content-info">
                                                       {% if latestPage.getAuthor %}
                                                           {% if latestPage.getAuthor.getAvatar %}
                                                               <img src="{{ display('crops:' ~ latestPage.getAuthor.getAvatar.getPath) }}" alt=""/>
                                                           {% else %}
                                                               <img src="{{ app.request.basepath ~ '/assets/images/default-user-icon-profile.png' }}" alt=""/>
                                                           {% endif %}
                                                           <p>by {{ latestPage.getAuthor.displayName }} <span>{{ latestPage.createdAt|date|timeago }}</span></p>
                                                       {% else %}
                                                           <img src="{{ app.request.basepath ~ '/assets/images/default-user-icon-profile.png' }}" alt=""/>
                                                           <p>no author</p>
                                                       {% endif %}
                                                   </div>

                                                   <div class="chip2-content-main">
                                                       content
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                    {% endfor %}
                                {% endif %}

                                {% if latest.media|length > 0 %}
                                    {% for latestMedia in latest.media %}

                                        <div class="chip2">
                                            <div class="chip2-line"></div>
                                            <div class="chip2-header">
                                                <div class="chip2-inner">
                                                    <div class="chip2-pre-header hidden">
                                                        <div class="chip2-pre-header-title">
                                                            {% if latestMedia.getType == 'image' %}
                                                            <div class="badge-icon badge-icon-big badge-red"><i class="fa fa-2x fa-image"></i></div>
                                                            {% elseif latestMedia.getType == 'video' %}
                                                            <div class="badge-icon badge-icon-big badge-red"><i class="fa fa-2x fa-camera"></i></div>
                                                            {% endif %}
                                                            <h3>{{ latestMedia.getTitle }}</h3>
                                                        </div>

                                                        <div class="chip2-controls">
                                                            <a class="delete-page delete-btn btn-small" href="{{ app.url_generator.generate('admin/media/delete', {id:latestMedia.getId}) }}"><i class="fa fa-trash"></i></a>
                                                            <a class="btn-small chip-close" href="#"><i class="fa fa-caret-up"></i></a>
                                                        </div>
                                                    </div>

                                                    <div class="chip2-summary">
                                                        {% if latestMedia.getType == 'image' %}
                                                            <div class="badge-icon badge-icon-big badge-red"><i class="fa fa-2x fa-image"></i></div>
                                                        {% elseif latestMedia.getType == 'video' %}
                                                            <div class="badge-icon badge-icon-big badge-red"><i class="fa fa-2x fa-camera"></i></div>
                                                        {% endif %}
                                                        <div class="chip2-detail">
                                                            <h3>{{ latestMedia.getTitle }}</h3>
                                                            {% if latestMedia.getAuthor %}
                                                                <p>by {{ latestMedia.getAuthor.displayName }} <span class="connector">-</span> <span>{{ latestMedia.createdAt|date|timeago }}</span></p>
                                                            {% else %}
                                                                <p>no author</p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="chip2-loader"></div>
                                            </div>

                                            <div class="chip2-content">
                                                <div class="chip2-inner">
                                                    <div class="chip2-content-info">
                                                        {% if latestMedia.getAuthor %}
                                                            {% if latestMedia.getAuthor.getAvatar %}
                                                                <img src="{{ display('crops:' ~ latestMedia.getAuthor.getAvatar.getPath) }}" alt=""/>
                                                            {% else %}
                                                                <img src="{{ app.request.basepath ~ '/assets/images/default-user-icon-profile.png' }}" alt=""/>
                                                            {% endif %}
                                                            <p>by {{ latestMedia.getAuthor.displayName }} <span>{{ latestMedia.createdAt|date|timeago }}</span></p>
                                                        {% else %}
                                                            <img src="{{ app.request.basepath ~ '/assets/images/default-user-icon-profile.png' }}" alt=""/>
                                                            <p>no author</p>
                                                        {% endif %}
                                                    </div>

                                                    <div class="chip2-content-main">
                                                        <img height="250" src="{{ display('thumbnails/medium:' ~ latestMedia.getPath) }}" alt="{{ latestMedia.getTitle }}"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                            {% else %}
                                <p class="ghost big">no latest</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card-wrap col-xs-12">
                    <div class="card bg">
                        <p class="ghost big">GOOGLE ANALYTICS DATA NOT AVAILABLE</p>
                    </div>
                </div>
            </div>


        </div><!-- /.dash-inner -->

    </div>

<script type="text/javascript" src="{{ app.request.basepath }}/assets/chartjs/Chart.min.js"></script>

{% endblock %}
