{% extends "admin/material/masters/layout-admin.html.twig" %}

{% block pageHeader %}
    <script type="text/javascript" src="{{ app.request.basepath }}/assets/chartjs/Chart.min.js"></script>
    <header class="big-header">
        <div class="header-wrapper">
            <div class="inner-header-wrapper">
                <div class="top-header-wrapper">
                    <div class="header-title">
                        <span>Dashboard</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="float-wrap">
            <a href="#" class="float-btn morph-initial morph-float"><i class="fi fi-plus-btb"></i></a>
            <div class="controls-hidden">
                <a href="{{ app.url_generator.generate('admin/post/add') }}" class="float-btn action-btn tooltipped" data-toggle="tooltip" data-placement="left" title="New post"><i class="fa fa-file-text"></i></a>
                <a href="{{ app.url_generator.generate('admin/page/add') }}" class="float-btn action-btn tooltipped" data-toggle="tooltip" data-placement="left" title="New page"><i class="fa fa-file"></i></a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="dashboard-grid-header">
        <div class="dashboard-grid-header-outer clearfix">
            <div class="header-box info-box">
                <div class="info-image">
                    {% if user.getAvatar %}
                        <img src="{{ app.request.basepath ~ '/uploads/' ~ user.getAvatar.getWebPath('crop') }}" />

                    {% else %}
                        <img src="{{ app.request.basepath ~ '/assets/images/default-user-icon-profile.png' }}" alt=""/>
                    {% endif %}
                </div>

                <div class="info-text">
                    <p>Welcome back, <b>{{ user.displayName }}</b>!</p>
                    <a href="{{ app.url_generator.generate('admin/user/profile') }}">Manage your profile</a>
                </div>
            </div>

            <div class="header-box info-box status-type right-info-box">
                <div class="info-app-button">
                    <div class="dropdown">
                        <a id="settings-menu" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle btn-large" href="{{ app.url_generator.generate('admin/settings') }}">
                            <i class="fi fi-params fi-lg"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="settings-menu">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{{ app.url_generator.generate('admin/settings') }}">General settings</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{{ app.url_generator.generate('admin/media/settings') }}">Media options</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{{ app.url_generator.generate('admin/settings/themes') }}">Theme settings</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{{ app.url_generator.generate('admin/settings/mail') }}">Mail configuration</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{{ app.url_generator.generate('admin/settings/services') }}">Services</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info-app-status">
                    <p><b><a target="_blank" href="http://{{ app.request.getHost ~ app.request.getBaseURL() }}">{{ app.request.getHost ~ app.request.getBaseURL() }}</a></b></p>
                    {% if app.settings.getLive == 1 %}
                        <p>Site is online</p>
                    {% else %}
                        <p>Site is offline</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-dashboard">
        <div class="dash-inner">

        <style>

            .card-title h3 {
                font-size: 1.2em;
                color: #999;
                padding: 0 0 5px 0;
            }

            .card-title h3 > i{
                margin-right: 4px;
            }

            .card-controls a {
                color: #ccc;
                font-size: .95em;
                font-weight: bold;
            }

            .card-controls a:hover {
                color: #2196F3;
            }

            .data-box h4 {
                font-size: 1em;
                line-height: 30px;
                color: #999;
                font-weight: normal;
            }

            .data-box .controls a {
                color: #ccc;
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
            }

            .data-box .controls a:hover {
                color: #fff;
                border-radius: 50%;
                background: #2196F3;
            }

            .data-box > .row > div > * {
                margin: 10px 0 5px 0;
            }

            .data-box .chart-control {
                display: -moz-inline-stack;
                display: inline-block;
                *display: inline;
                zoom: 1;
                padding: 0 4px;
            }

            .gauge-counter p {
                vertical-align: middle;
                font-size: 1.1em;
                margin-top: 8px;
                color: #999;
                text-align: center;
                font-weight: bold;
            }

            .gauge-counter {
                padding: 20px 40px;
            }

            .gauge-counter > div {

            }

            .card-loader {
                position: absolute;
                left: 50%;
                margin-top: -17px;
                top: 50%;
            }

            .circle-label {
                text-align: center;
                color: #999;
                font-size: 3em;
                margin: 0 auto;
                width: 80px;
                height: 80px;
                line-height: 80px;
                border-radius: 50%;
                background: #dfdfdf;
            }
        </style>

            <div class="row">
                <div class="card-wrap stripped-wrap col-xs-12">
                    <div class="card bg row">
                        <div class="col-xs-8 card-title">
                            <h3><i class="fi fi-bar-chart-btm"></i> Analytics Overview</h3>
                        </div>

                        <div class="col-xs-4 card-controls text-right">
                            <a href="#" class="chart-control">Open Reports</a>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 data-box">
                                <div class="row">
                                    <div class="col-xs-8 title">
                                        <h4>Page views and sessions, last 7 days</h4>
                                    </div>

                                    <div class="col-xs-4 controls text-right">
                                        <a href="#" class="chart-control"><i class="fi fi-search"></i></a>
                                        <a href="#" class="chart-control"><i class="fi fi-photo"></i></a>
                                    </div>

                                    <div class="col-xs-12">
                                        <canvas id="testChart" class="chart"></canvas>
                                    </div>
                                    <div class="card-loader"><p><i class="fa fa-spinner fa-spin fa-2x"></i></p></div>
                                </div>
                            </div>

                            <div class="col-xs-6 data-box">
                                <div class="row">
                                    <div class="col-xs-8 title">
                                        <h4>Sessions by operating system, last 7 days</h4>
                                    </div>

                                    <div class="col-xs-4 controls text-right">
                                        <a href="#" class="chart-control"><i class="fi fi-search"></i></a>
                                        <a href="#" class="chart-control"><i class="fi fi-photo"></i></a>
                                    </div>

                                    <div class="col-xs-12">
                                        <canvas id="osChart" class="chart"></canvas>
                                    </div>
                                    <div class="card-loader"><p><i class="fa fa-spinner fa-spin fa-2x"></i></p></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 data-box">
                                <div class="row">
                                    <div class="col-xs-8 title">
                                        <h4>Sessions by browser, last 7 days</h4>
                                    </div>

                                    <div class="col-xs-4 controls text-right">
                                        <a href="#" class="chart-control"><i class="fi fi-search"></i></a>
                                        <a href="#" class="chart-control"><i class="fi fi-photo"></i></a>
                                    </div>

                                    <div class="col-xs-12">
                                        <canvas id="browserChart" class="chart"></canvas>
                                    </div>
                                    <div class="card-loader"><p><i class="fa fa-spinner fa-spin fa-2x"></i></p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card-wrap col-xs-12">
                    <div class="card bg row">
                        <div class="col-xs-8 card-title">
                            <h3><i class="fi fi-comments"></i> User Interactions</h3>
                        </div>

                        <div class="col-xs-4 card-controls text-right">
                            <a href="#" class="chart-control">See all interactions</a>
                        </div>

                        <div class="col-xs-8 data-box">
                            <div class="row">
                                <div class="col-xs-8 title">
                                    <h4>Form posts, last 14 days</h4>
                                </div>

                                <div class="col-xs-4 controls text-right">
                                    <a href="#" class="chart-control"><i class="fi fi-search"></i></a>
                                    <a href="#" class="chart-control"><i class="fi fi-photo"></i></a>
                                </div>

                                <div class="col-xs-12">
                                    <canvas id="formsChart" class="chart"></canvas>
                                </div>
                                <div class="card-loader"><p><i class="fa fa-spinner fa-spin fa-2x"></i></p></div>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            {% if forms is defined %}
                                <div class="gauge-counter">
                                    <div class="circle-label">{{ forms.formCount }}</div>
                                    <p>form(s) published</p>
                                </div>
                                <div class="gauge-counter">
                                    <div class="circle-label">{{ forms.postCount}}</div>
                                    <p>total forms posted</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(document).ready(function () {

                    if ($('#testChart').length) {
                        var ctx1 = $("#testChart").get(0).getContext("2d");
                        var loader1 = $("#testChart").parent().parent().find('.card-loader');
                        $.get("/admin/service/analytics/test", function (data) {
                            var myLineChart = new Chart(ctx1).Line(JSON.parse(data), {responsive: true});
                        }).done(function(){
                            $(loader1).fadeOut();
                        });
                    }

                    if ($('#osChart').length) {
                        var ctx2 = $("#osChart").get(0).getContext("2d");
                        var loader2 = $("#osChart").parent().parent().find('.card-loader');
                        $.get("/admin/service/analytics/os", function (data) {
                            console.log(data);
                            var osChart = new Chart(ctx2).Bar(data, {responsive: true});
                        }).done(function(){
                            $(loader2).fadeOut();
                        });
                    }

                    if ($('#browserChart').length) {
                        var ctx3 = $("#browserChart").get(0).getContext("2d");
                        var loader3 = $("#browserChart").parent().parent().find('.card-loader');
                        $.get("/admin/service/analytics/browser", function (data) {
                            console.log(data);
                            var browserChart = new Chart(ctx3).Bar(data, {responsive: true});
                        }).done(function(){
                            $(loader3).fadeOut();
                        });
                    }

                    if ($('#formsChart').length) {
                        var ctx4 = $("#formsChart").get(0).getContext("2d");
                        var loader4 = $("#formsChart").parent().parent().find('.card-loader');
                        $.get("/admin/settings/stats/interactions", function (data) {
                            console.log(data);
                            var osChart = new Chart(ctx4).Line(data, {responsive: true});
                        }).done(function(){
                            $(loader4).fadeOut();
                        });
                    }
                });
            </script>

            <div class="row">
                <div class="card-wrap col-xs-6">
                    <div class="card bg row">
                        <div class="col-xs-8 card-title">
                            <h3><i class="fi fi-clock-btm"></i> Latest posts</h3>
                        </div>
                        <div class="col-xs-4 card-controls text-right">
                            <a href="#" class="chart-control">See all</a>
                        </div>

                        <div class="chips col-xs-12">
                            <div class="row">
                                {% if latest is defined %}
                                    {% if latest.posts|length > 0 %}
                                        <div class="col-xs-12">
                                            {% for latestPost in latest.posts %}
                                                <div class="chip2">
                                                    <div class="chip2-line"></div>
                                                    <div class="chip2-header">
                                                        <div class="chip2-inner">
                                                            <div class="chip2-pre-header hidden">
                                                                <div class="chip2-pre-header-title">
                                                                    <div class="badge-icon badge-icon-big badge-blue"><i class="fa fa-2x fa-file-text"></i></div>
                                                                    <h3>{{ latestPost.getTitle }}</h3>
                                                                </div>

                                                                <div class="chip2-controls">
                                                                    <a class="delete-page delete-btn btn-small" href="{{ app.url_generator.generate('admin/post/delete', {post:latestPost.getId}) }}"><i class="fi fi-trash-btm fi-lg"></i></a>
                                                                    <a class="btn-small" href="{{ app.url_generator.generate('admin/post/edit', {post:latestPost.getId}) }}"><i class="fi fi-pen-btm fi-lg"></i></a>
                                                                    <a class="btn-small chip-close" href="#"><i class="fi fi-angle-up-btm fi-lg"></i></a>
                                                                </div>
                                                            </div>

                                                            <div class="chip2-summary">
                                                                <div class="badge-icon badge-icon-big badge-blue"><i class="fa fa-2x fa-file-text"></i></div>
                                                                <div class="chip2-detail">
                                                                    <h3>{{ latestPost.getTitle }}</h3>
                                                                    {% if latestPost.getAuthor %}
                                                                        {% if user == app.security.token.user %}
                                                                            <p>by {{ latestPost.getAuthor.displayName }} <span class="connector">-</span> <span>{{ latestPost.getCreatedAt|date|timeago }}</span></p>
                                                                        {% else %}
                                                                            <p>by {{ latestPost.getAuthor.displayName }} <span class="connector">-</span> <span>{{ latestPost.getCreatedAt|date|timeago }}</span></p>
                                                                        {% endif %}
                                                                    {% else %}
                                                                        <p>no author</p>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="chip2-loader"></div>
                                                    </div>

                                                    <div class="chip2-content">
                                                        <div class="chip2-inner">
                                                            <div class="chip2-content-info">
                                                                {% if latestPost.getAuthor %}
                                                                    {% if latestPost.getAuthor.getAvatar %}
                                                                        <img src="{{ app.request.basepath ~ '/uploads/' ~ user.getAvatar.getWebPath('crop') }}" />
                                                                    {% else %}
                                                                        <img src="{{ app.request.basepath ~ '/assets/images/default-user-icon-profile.png' }}" alt=""/>
                                                                    {% endif %}

                                                                    <p>by <a class="user-popover btn btn-default" href="{{ app.url_generator.generate('admin/user/get', {user:user.getId}) }}">{{ latestPost.getAuthor.displayName }}</a><span>{{ latestPost.getCreatedAt|date|timeago }}</span></p>
                                                                {% else %}
                                                                    <img src="{{ app.request.basepath ~ '/assets/images/default-user-icon-profile.png' }}" alt=""/>
                                                                    <p>no author</p>
                                                                {% endif %}
                                                            </div>

                                                            <div class="chip2-content-main">
                                                                <p>{{ latestPost.getSubtitle }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-wrap col-xs-6">
                    <div class="card bg row">
                        <div class="col-xs-8 card-title">
                            <h3><i class="fi fi-clock-btm"></i> Latest pages</h3>
                        </div>
                        <div class="col-xs-4 card-controls text-right">
                            <a href="#" class="chart-control">See all</a>
                        </div>

                        <div class="chips col-xs-12">
                            <div class="row">
                                {% if latest is defined %}
                                    {% if latest.pages|length > 0 %}
                                        <div class="col-xs-12">
                                            {% for latestPage in latest.pages %}
                                                <div class="chip2">
                                                    <div class="chip2-line"></div>
                                                    <div class="chip2-header">
                                                        <div class="chip2-inner">
                                                            <div class="chip2-pre-header hidden">
                                                                <div class="chip2-pre-header-title">
                                                                    <div class="badge-icon badge-icon-big badge-violet"><i class="fa fa-2x fa-file"></i></div>
                                                                    <h3>{{ latestPage.getTitle }}</h3>
                                                                </div>

                                                                <div class="chip2-controls">
                                                                    <a class="delete-page delete-btn btn-small" href="{{ app.url_generator.generate('admin/page/delete', {page:latestPage.getId}) }}"><i class="fi fi-trash-btm fi-lg"></i></a>
                                                                    <a class="btn-small" href="{{ app.url_generator.generate('admin/page/edit', {page:latestPage.getId}) }}"><i class="fi fi-pen-btm fi-lg"></i></a>
                                                                    <a class="btn-small chip-close" href="#"><i class="fi fi-angle-up-btm fi-lg"></i></a>
                                                                </div>
                                                            </div>

                                                            <div class="chip2-summary">
                                                                <div class="badge-icon badge-icon-big badge-violet"><i class="fa fa-2x fa-file"></i></div>
                                                                <div class="chip2-detail">
                                                                    <h3>{{ latestPage.getTitle }}</h3>
                                                                    {% if latestPage.getAuthor %}
                                                                        <p>by {{ latestPage.getAuthor.displayName }} <span class="connector">-</span> <span>{{ latestPage.createdAt|date|timeago }}</span></p>
                                                                    {% else %}
                                                                        <p>no author</p>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="chip2-loader"></div>
                                                    </div>

                                                    <div class="chip2-content">
                                                        <div class="chip2-inner">
                                                            <div class="chip2-content-info">
                                                                {% if latestPage.getAuthor %}
                                                                    {% if latestPage.getAuthor.getAvatar %}
                                                                        <img src="{{ app.request.basepath ~ '/uploads/' ~ user.getAvatar.getWebPath('crop') }}" />
                                                                    {% else %}
                                                                        <img src="{{ app.request.basepath ~ '/assets/images/default-user-icon-profile.png' }}" alt=""/>
                                                                    {% endif %}
                                                                    <p>by {{ latestPage.getAuthor.displayName }} <span>{{ latestPage.createdAt|date|timeago }}</span></p>
                                                                {% else %}
                                                                    <img src="{{ app.request.basepath ~ '/assets/images/default-user-icon-profile.png' }}" alt=""/>
                                                                    <p>no author</p>
                                                                {% endif %}
                                                            </div>

                                                            <div class="chip2-content-main">
                                                                content
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-wrap col-xs-6">
                    <div class="card bg row">
                        <div class="col-xs-8 card-title">
                            <h3><i class="fi fi-clock-btm"></i> Latest media</h3>
                        </div>
                        <div class="col-xs-4 card-controls text-right">
                            <a href="#" class="chart-control">See all</a>
                        </div>

                        <div class="chips col-xs-12">
                            <div class="row">
                                {% if latest is defined %}
                                    {% if latest.media|length > 0 %}
                                        <div class="col-xs-12">
                                            {% for latestMedia in latest.media %}
                                                <div class="chip2">
                                                    <div class="chip2-line"></div>
                                                    <div class="chip2-header">
                                                        <div class="chip2-inner">
                                                            <div class="chip2-pre-header hidden">
                                                                <div class="chip2-pre-header-title">
                                                                    {% if latestMedia.getType == 'image' %}
                                                                        <div class="badge-icon badge-icon-big badge-red"><i class="fa fa-2x fa-image"></i></div>
                                                                    {% elseif latestMedia.getType == 'video' %}
                                                                        <div class="badge-icon badge-icon-big badge-red"><i class="fa fa-2x fa-camera"></i></div>
                                                                    {% endif %}
                                                                    <h3>{{ latestMedia.getTitle }}</h3>
                                                                </div>

                                                                <div class="chip2-controls">
                                                                    <a class="delete-page delete-btn btn-small" href="{{ app.url_generator.generate('admin/media/delete', {id:latestMedia.getId}) }}"><i class="fi fi-trash-btm fi-lg"></i></a>
                                                                    <a class="btn-small chip-close" href="#"><i class="fi fi-ange-up-btm fi-lg"></i></a>
                                                                </div>
                                                            </div>

                                                            <div class="chip2-summary">
                                                                {% if latestMedia.getType == 'image' %}
                                                                    <div class="badge-icon badge-icon-big badge-red"><i class="fa fa-2x fa-image"></i></div>
                                                                {% elseif latestMedia.getType == 'video' %}
                                                                    <div class="badge-icon badge-icon-big badge-red"><i class="fa fa-2x fa-camera"></i></div>
                                                                {% endif %}
                                                                <div class="chip2-detail">
                                                                    <h3>{{ latestMedia.getTitle }}</h3>
                                                                    {% if latestMedia.getAuthor %}
                                                                        <p>by {{ latestMedia.getAuthor.displayName }} <span class="connector">-</span> <span>{{ latestMedia.createdAt|date|timeago }}</span></p>
                                                                    {% else %}
                                                                        <p>no author</p>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="chip2-loader"></div>
                                                    </div>

                                                    <div class="chip2-content">
                                                        <div class="chip2-inner">
                                                            <div class="chip2-content-info">
                                                                {% if latestMedia.getAuthor %}
                                                                    {% if latestMedia.getAuthor.getAvatar %}
                                                                        <img src="{{ app.request.basepath ~ '/uploads/' ~ user.getAvatar.getWebPath('crop') }}" />
                                                                    {% else %}
                                                                        <img src="{{ app.request.basepath ~ '/assets/images/default-user-icon-profile.png' }}" alt=""/>
                                                                    {% endif %}
                                                                    <p>by {{ latestMedia.getAuthor.displayName }} <span>{{ latestMedia.createdAt|date|timeago }}</span></p>
                                                                {% else %}
                                                                    <img src="{{ app.request.basepath ~ '/assets/images/default-user-icon-profile.png' }}" alt=""/>
                                                                    <p>no author</p>
                                                                {% endif %}
                                                            </div>

                                                            <div class="chip2-content-main">
                                                                <img height="250" src="{{ app.request.basepath ~ '/uploads/' ~ latestMedia.getWebPath('medium') }}" alt="{{ latestMedia.getTitle }}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.dash-inner -->
    </div>
    <script type="text/javascript" src="{{ app.request.basepath }}/assets/chartjs/Chart.min.js"></script>
{% endblock %}
