{% extends "admin/material/masters/layout-admin.html.twig" %}

{% form_theme form with ['bootstrap.html.twig', 'admin/material/masters/flat-form.html.twig'] %}

{% block pageHeader %}
    <header class="">
        <div class="header-wrapper">
            <div class="inner-header-wrapper">
                <div class="top-header-wrapper">
                    <div class="header-title">
                        <span>
                            {% if user_form is defined %}
                                <a href="{{ app.url_generator.generate('admin/forms') }}">
                                    <span class="type">Form <i class="fa fa-angle-right"></i></span>
                                </a>
                                {{ user_form.getTitle }}
                            {% else %}New form{% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block rightBlock %}
    <nav class="">
        <div class="right-toolbar">
            <a href="{{ app.url_generator.generate('admin/forms') }}" class="paper-btn back-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="fi fi-times-btb"></i></a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <script>

    </script>

    {{ form_start(form) }}
    <div class="grid-header">
        <div class="grid-header-outer">
            <div class="header-box">
                <div class="form-group title form-element">
                    {{ form_widget(form.title) }}
                    {{ form_errors(form.title) }}
                </div>
            </div>
            <div class="header-box">
                <div class="post-addition">
                    <ul class="page-tabs">
                        <li class="active">
                            <a href="#home" role="tab" data-toggle="tab"><i class="fi fi-paperplane fi-lg"></i></a>
                        </li>
                        <li class="">
                            <a href="#options" role="tab" data-toggle="tab"><i class="fi fi-edit-btm fi-lg"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-post">
        <div class="grid-outer">
            <div class="tab-wrap form">
                <div class="tab-content page-content">
                    <div class="tab-pane active" id="home">
                        <div class="row">

                            <div class="col-xs-6">
                                <div class="form-group form-element">
                                    {{ form_row(form.contentLabel) }}
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="form-group form-element">
                                    {{ form_row(form.name) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="widget-advanced">
                                <div class="widget-header">
                                    <h5>Advanced options</h5>
                                    <a href="#" class="pull-right close-btn"><i class="fa fa-close"></i></a>
                                </div>
                                <div class="widget-body">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group form-element">
                                                {{ form_row(form.encType) }}
                                            </div>
                                        </div>

                                        <div class="col-xs-4">
                                            <div class="form-group form-element">
                                                {{ form_row(form.method) }}
                                            </div>
                                        </div>

                                        <div class="col-xs-4">
                                            <div class="form-group form-element">
                                                {{ form_row(form.target) }}
                                            </div>
                                        </div>

                                        <div class="col-xs-6 ls">
                                            <div class="form-group form-element">
                                                {{ form_row(form.action) }}
                                            </div>
                                        </div>

                                        <div class="col-xs-6 ls">
                                            <div class="form-group form-element">
                                                {{ form_row(form.acceptCharset) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group field option">
                                        <div class="form-element">
                                            {{ form_row(form.published) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group field option">
                                        <div class="form-element">
                                            {{ form_row(form.autoComplete) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group field option">
                                        <div class="form-element">
                                            {{ form_row(form.noValidate) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="options">
                        {% if form.fields|length < 1 %}
                            <div class="li-empty">
                                <div>
                                    <p class="ghost big">This page has no fields defined.</p>
                                    <p class="ghost mw80">Click the "Add field" button below to add a query now.</p>
                                </div>
                            </div>
                        {% endif %}
                        <div class="fields" data-prototype="{% filter escape %}{% include 'admin/material/widgets/add-field-form.html.twig' %}{% endfilter %}">
                            {% for field in form.fields %}
                                {% include 'admin/material/widgets/edit-field-form.html.twig' with {form: field.vars.form} %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-group submit-controls page-submit-controls form-action">
                    {{ form_widget(form.cancel) }}
                    {{ form_widget(form.save) }}
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}
