{% extends app.request.isXmlHttpRequest ? "admin/material/masters/layout-ajax.html.twig" : "admin/material/masters/layout-min.html.twig" %}

{% block content %}
    <div class="flash-messages">
        {% for message in app.session.getFlashBag.get('success') %}
            <span class="alert alert-flash-message alert-success">{{ message|raw }}</span>
        {% endfor %}
    </div>

    <div class="login-wrap">
        <form class="form-signin" action="{{ path('admin_login_check') }}" method="post">
            <h4 class="text-center">Sign in to Simplex</h4>
            <div class="text-center">
                <img src="{{ app.request.basepath ~ '/assets/images/tetra_gray.png' }}" alt="logo" width="50"/>
            </div>

            <div class="form-group form-element">
                <label for="email_"></label>
                <input type="text" id="email_" class="form-control" placeholder="Your email" name="_username" value="{{ last_username }}" />
            </div>

            <div class="form-group form-element">
                <label for="password_"></label>
                <input type="password" id="password_" class="form-control" placeholder="Your password" name="_password" value="" />
            </div>

            <div class="act-wrap">
                <div class="form-group field field-small forgot option pull-left">
                    <div class="checkbox">
                        <label for="remember_">
                            <input type="checkbox" name="_remember_me" id="remember_"/>
                            <span class="checksquare"></span>
                            <span>Remember me</span>
                        </label>
                    </div>
                </div>
                <span class="pull-right forgot-password text-right"><a href="{{ path('help/password') }}"><i class="fa fa-question-circle"></i> Hilfe</a></span>
            </div>

            <div class="form-group text-center sign-in">
                <button type="submit" class="btn-save">Login</button>
            </div>
            {{ error }}
        </form>
    </div>
{% endblock %}