{% extends app.request.isXmlHttpRequest ? "admin/material/masters/layout-modal-media.html.twig" : "admin/material/masters/layout-admin.html.twig" %}

{% block content %}
    
    {% block modalRight %}
        <div class="modal-right-bar">
            <div class="right-bar-header">
                <div class="top-header">
                    <div class="right-aux-toolbar">
                        <a href="#" class="paper-btn close-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Close"><i class="fa fa-times"></i></a>
                        <a href="#" class="paper-btn delete-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i></a>
                        <a href="#" class="paper-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Share"><i class="fa fa-share"></i></a>
                    </div>
                </div>
                <div class="bottom-header">
                    <h4>{{ item.getName }}</h4>
                </div>
            </div>

            <div class="right-bar-content">

                <div class="content-section">
                    <div class="section-title">
                        Author info
                    </div>
                    <div class="section-entity">
                        <div class="dt">
                            License
                        </div>
                        <div class="dd">
                            {% if item.getLicense %}
                                {{ item.getLicense }}
                            {% else %}
                                No information available
                            {% endif %}
                        </div>

                        <div class="dt">
                            Author
                        </div>
                        <div class="dd">
                            {% if item.getAuthor %}
                                {{ item.getAuthor }}
                            {% else %}
                                No information available
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if item.getMetadata %}
                    {% for metakey, metaval in item.getMetadata.getData %}
                        {% if item.getType == 'image' and metakey == 'gps' %}
                            <div class="content-section">
                                <div class="section-title">
                                    Location info
                                </div>

                                <div class="section-entity">
                                    <div class="dt">
                                        Latitude
                                    </div>
                                    <div class="dd">
                                        {{ metaval.gps_latitude|join('.') ~ ' ' ~ metaval.gps_latitude_ref }}
                                    </div>
                                </div>

                                <div class="section-entity">
                                    <div class="dt">
                                        Longitude
                                    </div>
                                    <div class="dd">
                                        {{ metaval.gps_longitude|join('.') ~ ' ' ~ metaval.gps_longitude_ref }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <div class="content-section">
                    <div class="section-title">
                        Metadata
                    </div>
                    {% if item.getMetadata %}
                        {% for metakey, metaval in item.getMetadata.getData %}
                            {% if item.getType == 'image' and metaval != '@todo' and metakey != 'gps' %}
                                {% if metakey == 'time_originated' %}
                                <div class="section-entity">
                                    <div class="dt">
                                        Time originated
                                    </div>
                                    <div class="dd">
                                        {{ metaval|date('M d, Y H:i') }}
                                    </div>

                                    <div class="dt">
                                        Time uploaded
                                    </div>
                                    <div class="dd">
                                        {{ item.getCreatedAt|date('M d, Y H:i') }}
                                    </div>
                                </div>
                                {% else %}
                                <div class="section-entity">
                                    <div class="dt">
                                        {{ metakey|capitalize|replace('_', ' ') }}
                                    </div>
                                    <div class="dd">
                                        {{ metaval }}
                                    </div>
                                </div>
                                {% endif %}
                            {% elseif item.getType == 'video' %}
                                {% if metakey != 'video_stream' and metakey != 'audio_stream' and metakey != 'audio' and metakey != 'video' and metakey != 'height' and metakey != 'gps' %}
                                    {% if metakey == 'width' and metaval < 1280 %}
                                        <span class="label label-clear"><i class="glyphicon glyphicon-sd-video"></i> {{ item.getMetadata.getData.width ~ ' x ' ~ item.getMetadata.getData.height }}</span>
                                    {% elseif metakey == 'width' and metaval >= 1280 %}
                                        <span class="label label-clear"><i class="glyphicon glyphicon-hd-video"></i> {{ item.getMetadata.getData.width ~ ' x ' ~ item.getMetadata.getData.height }}</span>
                                    {% elseif metakey == 'size' or metakey == 'bit_rate' %}
                                        <span class="label label-clear"><i class="glyphicon glyphicon-{{ metakey }}"></i> {{ metaval.0|round(2, 'ceil') ~ ' ' ~ metaval.1 }}</span>
                                    {% elseif metakey == 'time_originated' %}
                                        <span class="label label-clear"><i class="glyphicon glyphicon-time_originated"></i> {{ metaval|date('M d, Y H:i') }}</span>
                                        <span class="label label-clear"><i class="glyphicon glyphicon-export"></i> {{ item.getCreatedAt|date('M d, Y') }}</span>
                                    {% else %}
                                        <span class="label label-clear"><i class="glyphicon glyphicon-{{ metakey }}"></i> {{ metaval|join(' ') }}</span>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="content-section">
                    <div class="section-title">
                        Available variations
                    </div>
                    <div class="section-entity">
                        <div class="dt">
                            Sizes
                        </div>
                        <div class="dd">
                            {% for key, val in item.getVariations %}
                                {{ key }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block body %}
        {% if item %}
            {% if item.getType() == 'image' %}
                <div class="image-item-embed">
                    <img src="{{ app.request.basepath ~ '/uploads/thumbnails/large/' ~ item.getPath }}" />
                </div>
            {% elseif item.getType() == 'video' %}
                <div class="video-item-embed">
                    <video style="width:100%;" controls>
                        <source src="{{ app.request.basepath }}/uploads/{{ item.getMediaId }}.ogg" type="video/ogg">
                        <source src="{{ app.request.basepath }}/uploads/{{ item.getMediaId }}.mp4" type="video/mp4">
                        Can't play
                    </video>
                </div>
            {% endif %}
        {% endif %}
    {% endblock %}
    {% block footer %}
        <button type="button" class="btn btn-cancel btn-default" data-dismiss="modal">Close</button>
    {% endblock %}
{% endblock %}