{% extends "admin/material/masters/layout-admin.html.twig" %}

{% block pageHeader %}
    <header class="">
        <div class="header-wrapper">
            <div class="inner-header-wrapper">
                <div class="images-dropdown">
                    <ul>
                        <li class="active"><a href="#">Pages</a></li>
                        <li><a href="{{ app.url_generator.generate('admin/posts') }}">Posts</a></li>
                        <li><a href="{{ app.url_generator.generate('admin/media') }}">Media</a></li>
                        <li><a href="{{ app.url_generator.generate('admin/forms') }}">Forms</a></li>
                        <li><a href="{{ app.url_generator.generate('admin/content') }}">All</a></li>
                    </ul>
                </div>
                <div class="top-header-wrapper">
                    <div class="header-title">
                        <span>Content</span>
                        <span class="page-title"><i class="fa fa-angle-right"></i></span>
                        <span class="images-filter">Pages <i class="fa fa-angle-down"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
<div class="grid grid-clear">
    {% for message in app.session.getFlashBag.get('success') %}
        <div class="label label-success label-flash">{{ message }}</div>
    {% endfor %}
        <div class="grid-outer-full">
            <a class="paper-btn float-btn tooltipped" data-toggle="tooltip" data-placement="top" title="New page" href="{{ app.url_generator.generate('admin/page/add') }}">
                <i class="fa fa-plus"></i>
            </a>
            <div class="grid-content">
                <div class="item-list list-ml item-list-7 page-list">
                    {% if pages|length < 1 %}
                        <div class="empty-msg">
                            <h1 class="ghost big">No pages added yet</h1>
                            <div class="holder holder-post">
                                <div class="p-main">
                                    <div class="p-header">
                                        <div class="p-flag"></div>
                                        <div class="p-title"></div>
                                    </div>
                                    <div class="p-content">
                                        <ul class="p-insides">
                                            <li class="img"></li>
                                            <li class="line"></li>
                                            <li class="line"></li>
                                            <li class="line"></li>
                                            <li class="line"></li>
                                            <li class="line"></li>
                                            <li class="line"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <a class="form-btn new-page empty-add" href="{{ app.url_generator.generate('admin/page/add') }}">Add one now</a>
                            </p>
                        </div>
                    {% else %}
                            <div class="item-wrap item-header item-fixed-header">
                                <div class="item"></div>
                                <div class="item title">
                                    <div>Title</div>
                                </div>
                                <div class="item">
                                    <div>Keywords</div>
                                </div>
                                <div class="item item-s">
                                    <div><i class="fa fa-ticket"></i></div>
                                </div>
                                <div class="item item-s">
                                    <div><i class="fa fa-columns"></i></div>
                                </div>
                                <div class="item item-s">
                                    <div><i class="fa fa-database"></i></div>
                                </div>
                                <div class="item"></div>
                            </div>
                            {% for page in pages %}
                                <div class="item-wrap">
                                    <div class="item status-item">
                                        <div class="status-div">
                                        {% if page.getInMenu %}
                                            <div class="status-icon"><i class="fa fa-sitemap active"></i></div>
                                        {% else %}
                                            <div class="status-icon"><i class="fa fa-sitemap"></i></div>
                                        {% endif %}

                                        {% if page.getSlug == '/' or page.getSlug|length < 1 %}
                                            <div class="page-icon"><i class="fa fa-circle-thin fa-2x"></i></div>
                                        {% else %}
                                            <div class="page-icon"><i class="fa fa-circle-thin fa-2x icon-{{ page.getTypeColor }}"></i></div>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <div class="item ml">
                                        <a class="detail-btn" href="{{ app.url_generator.generate('admin/page/get', {page:page.getId}) }}">{{ page.getTitle }}</a>
                                        {% if page.getSlug|length < 1 %}
                                            <div class="small"><a target="_blank" href="http://{{ app.request.getHost ~ app.request.getBaseURL()}}">http://{{ app.request.getHost ~ app.request.getBaseURL()}}</a></div>
                                        {% else %}
                                            <div class="small"><a target="_blank" href="http://{{ app.request.getHost ~ app.request.getBaseURL() ~ '/' ~ page.getSlug }}">http://{{ app.request.getHost ~ app.request.getBaseURL() ~ '/' ~ page.getSlug }}</a></div>
                                        {% endif %}
                                        <div class="small"><p>{{ page.getCreatedAt|date }} {% if page.getAuthor %} by {{ page.getAuthor }}{% endif %}</p></div>
                                    </div>
                                    <div class="item">
                                        <div>
                                            <span class="small">
                                            {% if page.getKeywords %}
                                                {{ page.getKeywords }}
                                            {% else %}
                                                This page has no keywords
                                            {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="item item-s">
                                        <div>
                                            <span class="small">
                                                {{ page.getContentLabel }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="item item-s">
                                        <div>
                                            <span class="small">
                                                {{ page.getView }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="item item-s">
                                        <div>
                                            <span class="small">
                                                {{ page.getQueries.count }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <a class="detail-btn" href="{{ app.url_generator.generate('admin/page/get', {page:page.getId}) }}">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="right-bar">
        {% include 'admin/material/widgets/page-metadata.html.twig' %}
    </div>
{% endblock %}
