{% extends "admin/material/masters/layout-admin.html.twig" %}

{% form_theme form with ['bootstrap.html.twig', 'admin/material/masters/flat-form.html.twig'] %}

{% block pageHeader %}
    <header class="">
        <div class="header-wrapper">
            <div class="inner-header-wrapper">
                <div class="top-header-wrapper">
                    <div class="header-title">
                        <span>
                            {% if page is defined %}
                            <a href="{{ app.url_generator.generate('admin/pages') }}">
                                <span class="type">Pages <i class="fa fa-angle-right"></i></span>
                            </a>
                            {{ page.getTitle }}
                            {% else %}New page{% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block rightBlock %}
    <nav class="">
        <div class="right-toolbar">
            <a href="{{ app.url_generator.generate('admin/pages') }}" class="paper-btn back-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="fa fa-times"></i></a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="grid-header">
        <div class="grid-header-outer">
            <div class="header-box">
                <div class="form-group title form-element">
                    {{ form_widget(form.title) }}
                    {{ form_errors(form.title) }}
                </div>
            </div>
            <div class="header-box">
                <div class="post-addition">
                    <ul class="page-tabs">
                        <li class="active">
                            <a href="#home" role="tab" data-toggle="tab"><i class="fa fa-file"></i></a>
                        </li>
                        <li class="">
                            <a href="#data" role="tab" data-toggle="tab"><i class="fa fa-database"></i></a>
                        </li>
                        <li class="">
                            <a href="#options" role="tab" data-toggle="tab"><i class="fa fa-gear"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-post">
        <div class="grid-outer">
            <div class="tab-wrap form">
                <div class="tab-content page-content">
                    <div class="tab-pane active" id="home">
                        <div class="row">
                            <div class="data-group">
                                <div class="form-group form-element select">
                                    {{ form_label(form.slug) }}
                                    {{ form_widget(form.slug) }}
                                    {{ form_errors(form.slug) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group form-element select">
                                    {{ form_label(form.master) }}
                                    {{ form_widget(form.master) }}
                                    {{ form_errors(form.master) }}
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group form-element select">
                                    {{ form_label(form.view) }}
                                    {{ form_widget(form.view) }}
                                    {{ form_errors(form.view) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group form-element">
                                    {{ form_label(form.keywords) }}
                                    {{ form_widget(form.keywords) }}
                                    {{ form_errors(form.keywords) }}
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="form-group">
                                    <div class="form-group form-element">
                                        {{ form_label(form.contentLabel) }}
                                        {{ form_widget(form.contentLabel) }}
                                        {{ form_errors(form.contentLabel) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="field option">
                                    {{ form_row(form.in_menu) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="options">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group form-element select">
                                    {{ form_label(form.description) }}
                                    {{ form_widget(form.description) }}
                                    {{ form_errors(form.description) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="data-group">
                                <div class="form-group form-element select">
                                    {{ form_label(form.typeColor) }}
                                    {{ form_widget(form.typeColor) }}
                                    {{ form_errors(form.typeColor) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="data">
                        {% if form.queries|length < 1 %}
                            <div class="li-empty">
                                <div>
                                    <p class="ghost big">This page has no data queries defined.</p>
                                    <p class="ghost mw80">
                                        Page queries allow you to bind your data to a page.
                                        Click the "Add query" button below to add a query now.
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                        <ul class="queries"
                            data-prototype="
                            {% filter escape %}
                            {% include 'admin/material/widgets/add-query-form.html.twig' %}
                            {% endfilter %}">
                            {% for query in form.queries %}
                                <li class="clearfix query-form">
                                    {% include 'admin/material/widgets/edit-query-form.html.twig'
                                    with {form: query.vars.form } %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="form-group submit-controls page-submit-controls form-action">
                    {{ form_widget(form.cancel) }}
                    {{ form_widget(form.save) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
