{% extends "admin/material/masters/layout-admin.html.twig" %}

{% form_theme form with ['bootstrap.html.twig', 'admin/material/masters/flat-form.html.twig'] %}

{% block pageHeader %}
    <header class="">
        <div class="header-wrapper">
            <div class="inner-header-wrapper">
                <div class="top-header-wrapper">
                    <div class="header-title">
                        <span>
                            {% if post is defined %}
                            {% else %}
                                New post
                            {% endif %}
                        </span>
                    </div>
                </div>
                {#
                <div class="bottom-header-wrapper bottom-header-wrapper2">

                    <div class="tabs">
                        <ul>
                            <li class="active">
                                <a href="#home" role="tab" data-toggle="tab">Content</a>
                            </li>
                            <li class="">
                                <a href="#media" role="tab" data-toggle="tab">Media</a>
                            </li>
                            <li class="">
                                <a href="#settings" role="tab" data-toggle="tab">Settings</a>
                            </li>
                        </ul>
                    </div>

                </div>
                #}
            </div>
        </div>
    </header>
{% endblock %}

{% block rightBlock %}
    <nav class="">
        <div class="right-toolbar">
            {% if post is defined %}
                <a href="{{ app.url_generator.generate('admin/post/view', {post:post.getId}) }}" class="paper-btn back-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="fa fa-times"></i></a>
            {% else %}
                <a href="{{ app.url_generator.generate('admin/posts') }}" class="paper-btn back-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="fa fa-times"></i></a>
            {% endif %}

        </div>
    </nav>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="grid-header">
        <div class="grid-header-outer">
            <div class="header-box">
                <div class="form-group title form-element">
                    {{ form_widget(form.title) }}
                    {{ form_errors(form.title) }}
                </div>
            </div>

            <div class="header-box">
                <div class="post-addition">
                    <ul class="new-post-tabs">
                        <li class="active">
                            <a href="#home" role="tab" data-toggle="tab"><i class="fa fa-pencil"></i></a>
                        </li>
                        <li class="">
                            <a href="#media" role="tab" data-toggle="tab"><i class="fa fa-camera"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-post">
        <div class="grid-outer">
            <script type="text/javascript" src="{{ app.request.basepath }}/assets/tinymce/tinymce.min.js"></script>
            <div class="tab-wrap form">
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <div class="form-group form-element">
                            {{ form_label(form.subtitle) }}
                            {{ form_widget(form.subtitle) }}
                            {{ form_errors(form.subtitle) }}
                        </div>
                        <div class="form-group form-element">
                            {{ form_label(form.body) }}
                            {{ form_widget(form.body | raw) }}
                            {{ form_errors(form.body) }}
                        </div>

                        <div class="form-group form-element">
                            {{ form_label(form.tags) }}
                            {% if post is defined %}
                                {{ form_widget(form.tags, {'attr': {'value': post.getTagsString}}) }}
                            {% else %}
                                {{ form_widget(form.tags) }}
                            {% endif %}
                        </div>

                        <div class="form-group form-element">
                            {{ form_label(form.keywords) }}
                            {{ form_widget(form.keywords) }}
                        </div>

                        <div class="col-xs-6">
                            <div class="field option">
                                {{ form_row(form.published) }}
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="field option">
                                {{ form_row(form.exposed) }}
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="field option">
                                {{ form_row(form.allow_ratings) }}
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="field option">
                                {{ form_row(form.allow_comments) }}
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="field option">
                                {{ form_row(form.channels) }}
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="field option">
                                {{ form_row(form.pages) }}
                            </div>
                        </div>

                        {# {{ form_row(form.body) }}#}
                    </div>
                    <div class="tab-pane" id="media">
                        <div class="tiles">
                            {% for mediaItem in form.media %}
                                <div class="tb-col removable col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                    <div class="thumbnail">
                                        <img src="{{ app.request.basepath ~ '/uploads/crops/' ~ mediaItem.vars.label }}.jpeg">
                                        {% if post is defined %}
                                            {% for item in post.getMediaItems %}
                                                {% if mediaItem.vars.value == item.getId %}
                                                    {{ form_widget(mediaItem, {'attr': {'checked': 'checked'}}) }}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {{ form_widget(mediaItem) }}
                                        <a class="text-center thumb-action thumb-check" href="#"><i class="fa fa-check"></i></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-group submit-controls post-submit-controls form-action">
                    {{ form_widget(form.cancel) }}
                    {{ form_widget(form.save) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

<div id="modal-editor" class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <span class="modal-title">Modal title</span>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
