{% extends "admin/material/masters/layout-admin.html.twig" %}

{% form_theme form with ['bootstrap.html.twig', 'admin/material/masters/flat-form.html.twig', _self] %}

{% block pageHeader %}
    <header class="">
        <div class="header-wrapper">
            <div class="inner-header-wrapper">
                <div class="top-header-wrapper">
                    <div class="header-title">
                        <span>Settings</span>
                    </div>
                </div>
                <div class="bottom-header-wrapper">
                    <div class="big-tabs tabs settings-tabs">
                        <ul>
                            {% for key, panel in tabs.panels %}
                                <li class="{{ panel.active ? 'active' : '' }}"><a href="#{{ key }}" role="tab" data-url="{{ panel.url }}" data-toggle="tab">{{ key|capitalize|replace('_', ' ') }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
<div class="grid grid-clear">
        <div class="grid-outer-full grid-settings">
            <div class="tab-content">
                {% for key, panel in tabs.panels %}
                    {% if panel.active %}
                        <div class="tab-pane active" id="{{ key }}">
                            {% block tabPaneHeader %}
                            {% endblock %}
                            {% block tabPaneContent %}
                            {% endblock %}
                        </div>
                    {% else %}
                        <div class="tab-pane" id="{{ key }}">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
