{% extends app.request.isXmlHttpRequest ? "admin/material/masters/layout-ajax.html.twig" : "admin/material/masters/layout-admin.html.twig" %}

{% form_theme form "bootstrap.html.twig" %}

{% block content %}
    {{ form_start(form, {'action': url('admin/user/credentials') }) }}

    <div class="col-xs-4">
        <h4>Change email</h4>
    </div>

    <div class="div col-xs-8">
        <div class="des">
            Change email. If you change your email you will be required to enter your password. A confirmation mail will be sent to your current email.
        </div>
        <div class="form-group form-element">
            {{ form_label(form.email) }}

            <div class="field field-small ">
                {{ form_widget(form.email) }}
            </div>
            {{ form_errors(form.email) }}
        </div>
        <div class="form-group form-element">
            <div class="form-credentials clearfix">
                <div class="form-group field field-small">
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password) }}
                </div>
                {{ form_errors(form.password) }}
            </div>
        </div>
    </div>
    <div class="text-right">
        {{ form_widget(form.save) }}
        {{ form_widget(form.cancel) }}
    </div>

    {{ form_end(form) }}
{% endblock %}
