{% extends app.request.isXmlHttpRequest ? "admin/material/masters/layout-ajax.html.twig" : "admin/material/masters/layout-admin.html.twig" %}

{% form_theme form with ['bootstrap.html.twig', 'admin/material/masters/flat-form.html.twig'] %}

{% block pageHeader %}
    <header class="">
        <div class="header-wrapper">
            <div class="inner-header-wrapper">
                <div class="top-header-wrapper">
                    <div class="header-title">
                        <span>
                            {% if user is defined %}
                            {% else %}
                                New user
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block rightBlock %}
    <nav class="">
        <div class="right-toolbar">
            <a href="{{ app.url_generator.generate('admin/users') }}" class="paper-btn back-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="fa fa-times"></i></a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    {{ form_start(form) }}

        <div class="grid-header">
            <div class="grid-header-outer">
                <div class="user-box">
                    <div class="form-group title form-element">
                        {{ form_widget(form.firstName) }}
                        {{ form_errors(form.firstName) }}
                    </div>
                </div>

                <div class="user-box">
                    <div class="form-group title form-element">
                        {{ form_widget(form.lastName) }}
                        {{ form_errors(form.lastName) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-post">
            <div class="grid-outer">

                <div class="user-form-image-wrap">
                    {% if user is defined and user.getAvatar %}
                        <div class="user-form-image">
                            <div class="user-form-image-overlay-multiple">
                                <a class="select-new" href="#change">Change</a>
                            </div>
                            <img src="{{ app.request.basepath ~ '/uploads/crops/' ~ user.getAvatar }}.jpeg" width="300" alt=""/>
                        </div>
                    {% else %}
                        <div class="user-form-image">
                            <img src="{{ app.request.basepath }}/assets/images/default-user-icon-profile.png" width="300" alt=""/>
                            <div class="user-form-image-overlay-multiple">
                                <a class="select-new" href="#change">Choose image</a>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="form-group form-element">
                    {{ form_widget(form.avatarFile) }}
                    {{ form_errors(form.avatarFile) }}
                </div>
                <div class="select-file"></div>

                <div class="form-group form-element">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>

                <div class="form-group form-element">
                    {{ form_label(form.roles) }}
                    {% if user is defined %}
                        {{ form_widget(form.roles, {'value': user.getRoles }) }}
                    {% else %}
                        {{ form_widget(form.roles) }}
                    {% endif %}
                    {{ form_errors(form.roles) }}
                </div>

                <div class="form-group form-element">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                    {{ form_errors(form.description) }}
                </div>

                <div class="form-group submit-controls post-submit-controls">
                    {{ form_widget(form.cancel) }}
                    {{ form_widget(form.save) }}
                </div>

            </div>
        </div>

    {{ form_end(form) }}

{% endblock %}
