{% extends app.request.isXmlHttpRequest ? "admin/material/masters/layout-ajax.html.twig" : "admin/material/masters/layout-admin.html.twig" %}

{% block pageHeader %}
    <header class="">
        <div class="header-wrapper">
            <div class="inner-header-wrapper">
                <div class="top-header-wrapper">
                    <div class="header-title">
                        <span>Users</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}

    <div class="grid grid-clear">
        <div class="grid-outer-full">
            <a class="paper-btn float-btn tooltipped" data-toggle="tooltip" data-placement="top" title="New user" href="{{ app.url_generator.generate('admin/user/add') }}">
                <i class="fa fa-plus"></i>
            </a>

            {% if users|length < 1 %}
                <span class="label label-error">impossibru</span>
            {% else %}
                <div class="item-list media-item-list">
                    <div class="item-wrap item-header">
                        <div class="item">
                            <div>User</div>
                        </div>
                        <div class="item">
                            <div>Role</div>
                        </div>
                        <div class="item">
                            <div>Joined</div>
                        </div>
                        <div class="item">
                            <div>

                            </div>
                        </div>
                    </div>

                    {% for user in users %}
                        <div class="item-wrap">
                            <div class="item">
                                <div class="user-name">
                                    {% if user.getAvatar %}
                                        <div class="user-image">
                                            <img src="{{ app.request.basepath ~ '/uploads/crops/' ~ user.getAvatar }}.jpeg" alt="" height="60" />
                                        </div>
                                        <div>{{ user.displayName|upper }}</div>
                                    {% else %}
                                        <div class="user-image">
                                            <img src="{{ app.request.basepath ~ '/assets/images/default-user-icon-profile.png' }}" alt="" height="60" />
                                        </div>
                                        <div>{{ user.displayName|upper }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="item">
                                <div>ROLE</div>
                            </div>
                            <div class="item">
                                <div>{{ user.getCreatedAt|date('M d \'y h:i') }}</div>
                            </div>
                            <div class="item">
                                <a class="detail-btn" href="#">
                                    <i class="fa fa-ellipsis-v"></i>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>

    <div class="right-bar">
        <div class="right-bar-header">
            <div class="top-header">
                <div class="right-aux-toolbar">
                    <div class="right-aux-toolbar">
                        <a href="#" class="paper-btn close-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Close"><i class="fa fa-times"></i></a>
                        <a href="#" class="paper-btn delete-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i></a>
                        <a href="newpost.html" class="paper-btn edit-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-pencil"></i></a>
                    </div>
                </div>
            </div>
            <div class="bottom-header">
                <h4>User Name</h4>
            </div>
        </div>

        <div class="right-bar-content">
            <div class="content-section">
                <div class="section-entity">
                    <div class="dt">
                        Status
                    </div>
                    <div class="dd">
                        Offline
                    </div>
                </div>
            </div>
            <div class="content-section">
                <div class="section-title">
                    Time frame
                </div>
                <div class="section-entity">
                    <div class="dt">
                        Created
                    </div>
                    <div class="dd">
                        6. 9. 1984
                    </div>
                </div>
                <div class="section-entity">
                    <div class="dt">
                        Modified
                    </div>
                    <div class="dd">
                        26. 3. 1989
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
