{% extends "admin/material/masters/layout-admin.html.twig" %}

{% form_theme form "bootstrap.html.twig" %}

{% block pageHeader %}
    <header class="">
        <div class="header-wrapper">
            <div class="inner-header-wrapper">
                <div class="top-header-wrapper">
                    <div class="header-title">
                        <span>My profile</span>
                    </div>
                </div>
                <div class="bottom-header-wrapper">
                    <div class="tabs user-tabs">
                        <ul>
                            <li class="active">
                                <a href="#profile" role="tab" data-toggle="tab">Profile</a>
                            </li>
                            <li class="">
                                <a href="#credentials" role="tab" data-toggle="tab">Credentials</a>
                            </li>
                            <li class="">
                                <a href="#myposts" role="tab" data-toggle="tab">My content</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}

    <div class="grid grid-clear">
        <div class="grid-outer">

            <div class="tab-content">
                <div id="profile" class="tab-pane fade in active">

                    <div class="cover row">
                        <div class="col-xs-6">
                            <div class="user-form-image-wrap">
                                {% if user is defined and user.getAvatar %}
                                    <div class="user-form-image">
                                        <div class="user-form-image-overlay-multiple">
                                            <a class="select-new" href="#change">Change</a>
                                        </div>
                                        <img src="{{ app.request.basepath ~ '/uploads/crops/' ~ user.getAvatar }}.jpeg" width="300" alt=""/>
                                    </div>
                                {% else %}
                                    <div class="user-form-image">
                                        <img src="{{ app.request.basepath }}/assets/images/default-user-icon-profile.png" width="300" alt=""/>
                                        <div class="user-form-image-overlay-multiple">
                                            <a class="select-new" href="#change">Choose image</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="item-detail">
                                {% for role in user.getRoles %}
                                    <span>{{ role }}</span>
                                {% endfor %}
                                <span>Joined {{ user.getCreatedAt|date }}</span>
                                <span>{{ user.getUsername}}</span>
                            </div>

                        </div>
                    </div>

                    {{ form_start(form) }}
                    <div class="col-xs-6">
                        <div class="col-xs-11">
                            <div class="form-group field">
                                {{ form_label(form.first_name) }}
                                <div class="field field-small form-element">
                                    {{ form_widget(form.first_name) }}
                                    {{ form_errors(form.first_name) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="col-xs-offset-1 col-xs-11">
                            <div class="form-group field">
                                {{ form_label(form.last_name) }}
                                <div class="field field-small form-element">
                                    {{ form_widget(form.last_name) }}
                                    {{ form_errors(form.last_name) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group field area form-element">
                        {{ form_label(form.description) }}
                        {{ form_errors(form.description) }}
                        <div class="field field-small">
                            {{ form_widget(form.description, { 'attr': { 'spellcheck': 'false' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.avatarFile) }}
                    </div>
                    <div class="form-action">
                        {{ form_widget(form.cancel) }}
                        {{ form_widget(form.save) }}
                    </div>
                    {{ form_end(form) }}
                </div>

                <div id="credentials" class="tab-pane fade">
                    <h4>Credentials</h4>
                </div>

                <div id="myposts" class="tab-pane fade">
                    {% if user.getPostsAuthored|length < 1 %}
                        <div class="empty-msg">
                            <h2 class="ghost big">You have not added any content yet</h2>
                            <div class="holder holder-post">
                                <div class="p-main">
                                    <div class="p-header">
                                        <div class="p-flag"></div>
                                        <div class="p-title"></div>
                                    </div>
                                    <div class="p-content">
                                        <ul class="p-insides">
                                            <li class="img"></li>
                                            <li class="line"></li>
                                            <li class="line"></li>
                                            <li class="line"></li>
                                            <li class="line"></li>
                                            <li class="line"></li>
                                            <li class="line"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <p class="text-center"><a href="{{ app.url_generator.generate('admin/post/add') }}" class="form-btn" role="button">Add a new post now</a></p>
                        </div>
                    {% else %}
                        {% include 'admin/material/widgets/post-list-simple.html.twig' with {'posts': user.getPostsAuthored} %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
