{% extends app.request.isXmlHttpRequest ? "admin/default/masters/layout-ajax.html.twig" : "admin/default/masters/layout-admin.html.twig" %}

{% form_theme form "bootstrap.html.twig" %}

{% block content %}
    {% if not app.request.isXmlHttpRequest %}
        <div class="main-content">
            <h2 class="page-header top">Change credentials</h2>
            <div class="col-xs-12 npl">
    {% endif %}
    {{ form_start(form, {'action': url('admin/user/credentials') }) }}
    <h5><i class="fa fa-info"></i> Your email will be spammed</h5>
    Change email. If you change your email you will be required to enter your password. A confirmation mail will be sent to your current email.

    <div class="form-group form-element">
        {{ form_label(form.email) }}

        <div class="field field-small ">
            {{ form_widget(form.email) }}
        </div>
        {{ form_errors(form.email) }}
    </div>

    <div class="form-group form-element">
        <div class="form-credentials clearfix">
            <div class="form-group field field-small">
                {{ form_label(form.password) }}
                {{ form_widget(form.password) }}
            </div>
            {{ form_errors(form.password) }}
        </div>
    </div>
    <div class="form-action">
        {{ form_widget(form.save) }}
        {{ form_widget(form.cancel) }}
    </div>
    {{ form_end(form) }}
    {% if not app.request.isXmlHttpRequest %}
            </div>
        </div>
    {% endif %}
{% endblock %}
