{% extends app.request.isXmlHttpRequest ? "admin/material/masters/layout-ajax.html.twig" : "admin/material/masters/layout-admin.html.twig" %}

{% block pageHeader %}
    <header class="">
        <div class="header-wrapper">
            <div class="inner-header-wrapper">
                <div class="top-header-wrapper">
                    <div class="header-title">
                        <span>Users</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}

    <div class="grid grid-clear">
        <div class="grid-outer-full">
            <a class="paper-btn float-btn tooltipped" data-toggle="tooltip" data-placement="top" title="New user" href="{{ app.url_generator.generate('admin/user/add') }}">
                <i class="fa fa-plus"></i>
            </a>

            {% if users|length < 1 %}
                <span class="label label-error"></span>
            {% else %}
                <div class="item-list item-list-8 user-list">
                    <div class="item-wrap item-header">
                        <div class="item text-center">
                        </div>
                        <div class="item">
                            <div>Name</div>
                        </div>
                        <div class="item">
                            <div>Joined</div>
                        </div>
                        <div class="item item-s">
                            <div>Role</div>
                        </div>
                        <div class="item item-s">
                            <div>Status</div>
                        </div>
                        <div class="item item-s">
                            <div>PA</div>
                        </div>
                        <div class="item item-s">
                            <div>PE</div>
                        </div>
                        <div class="item">
                        </div>
                    </div>
                    {% for user in users %}
                        <div class="item-wrap">
                            <div class="item status-item text-center">
                                <div class="status-div">
                                    {% if user.getAvatar %}
                                        <div class="user-image">
                                            <img src="{{ app.request.basepath ~ '/uploads/crops/' ~ user.getAvatar }}.jpeg" alt="" height="60" />
                                        </div>
                                    {% else %}
                                        <div class="user-image">
                                            <img src="{{ app.request.basepath ~ '/assets/images/default-user-icon-profile.png' }}" alt="" height="60" />
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="item">
                                <a class="detail-btn" href="{{ app.url_generator.generate('admin/user/get', {user:user.getId}) }}">
                                    {{ user.displayName }}
                                </a>
                            </div>
                            <div class="item">
                                <div>{{ user.getCreatedAt|date('M d \'y h:i') }}</div>
                            </div>
                            <div class="item item-s">
                                <div>{{ user.getRoles|join(', ')|split('ROLE_')[1]|lower|capitalize }}</div>
                            </div>
                            <div class="item item-s">
                                <div>{% if user.getIsActive %} Active {% else %} Inactive {% endif %}</div>
                            </div>
                            <div class="item item-s">
                                <div>{{ user.getPostsAuthored.count }}</div>
                            </div>
                            <div class="item item-s">
                                <div>{{ user.getPostsEdited.count }}</div>
                            </div>
                            <div class="item">
                                <a class="detail-btn" href="{{ app.url_generator.generate('admin/user/get', {user:user.getId}) }}">
                                    <i class="fa fa-ellipsis-v"></i>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="right-bar">
    </div>
{% endblock %}
