{% extends app.request.isXmlHttpRequest ? "admin/material/masters/layout-ajax.html.twig" : "admin/material/masters/layout-admin.html.twig" %}
{% form_theme form "bootstrap.html.twig" %}

{% block content %}
<div class="main-content affix-content">


    <div class="affixed">
        <div class="row">
            <div class="col-xs-4 affix-left-controls">
                <div class="btn-group">
                    <a href="{{ app.url_generator.generate('admin/users') }}" class="btn btn-round btn-action tooltipped" data-toggle="tooltip" data-placement="right" title="Back"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="col-xs-4 text-center">
                {% if user is defined %}
                    <h5><span class="pretitle">User: </span> {{ user.displayName }}</h5>
                {% else %}
                    <h5>New user</h5>
                {% endif %}
            </div>
            <div class="col-xs-4 text-right affix-right-controls">
                <div class="btn-group">
                    <a href="#" class="btn-round cmd-view-help btn-cmd btn btn-help tooltipped" data-toggle="tooltip" data-placement="bottom" title="Show help"><i class="fa fa-question"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="collection xhr-container affix-collection">

        {{ form_start(form) }}

        <div class="">

            <div class="col-xs-12 text-center">
                <div class="user-form-image-wrap">

                {% if user is defined and user.getAvatar %}
                    <div class="user-form-image">
                        <div class="user-form-image-overlay-multiple">
                            <a class="remove-old" href="#remove">Remove</a>
                            <a class="select-new" href="#change">Change</a>
                        </div>
                        <img src="{{ app.request.basepath ~ '/uploads/crops/' ~ user.getAvatar }}.jpeg" width="300" alt=""/>
                    </div>
                {% else %}
                    <div class="user-form-image">
                        <img src="{{ app.request.basepath }}/assets/images/default-user-icon-profile.png" width="300" alt=""/>
                        <div class="user-form-image-overlay-multiple">
                            <a class="select-new" href="#change">Choose image</a>
                        </div>
                    </div>
                {% endif %}

                </div>
                <div class="form-group field">
                    {{ form_label(form.avatarFile) }}
                    {{ form_widget(form.avatarFile) }}
                    {{ form_errors(form.avatarFile) }}
                </div>
                <div class="select-file"></div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="col-sm-4 field text-right">
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group field">
                                    {{ form_label(form.firstName) }}
                                    {{ form_widget(form.firstName) }}
                                    {{ form_errors(form.firstName) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group field">
                                    {{ form_label(form.lastName) }}
                                    {{ form_widget(form.lastName) }}
                                    {{ form_errors(form.lastName) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4 field text-right">

                            </div>
                            <div class="col-sm-8">
                                <div class="form-group field">
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email) }}
                                    {{ form_errors(form.email) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group field">
                                    {{ form_label(form.roles) }}
                                    {% if user is defined %}
                                        {{ form_widget(form.roles, {'value': user.getRoles }) }}
                                    {% else %}
                                        {{ form_widget(form.roles) }}
                                    {% endif %}
                                    {{ form_errors(form.roles) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-2 field text-right">
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group field">
                                    {{ form_label(form.description) }}
                                    {{ form_widget(form.description) }}
                                    {{ form_errors(form.description) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 new-user-form-controls text-center">
                    <div class="form-group">
                        {{ form_widget(form.save) }}
                        {{ form_widget(form.cancel) }}
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}
